In [1]:
import pandas as pd
import numpy as np

In [2]:
Year = 2030

In [407]:
### Load Regional Expansion and Retirement Plan
base_path = 'GenResUpdate/Region{}.csv'

# Define your regions
Regions = [1,2,3,4,5,6]

# Initialize a dictionary to hold your DataFrames
GenRes = {}

# Loop over each region and read the corresponding CSV file
for region in Regions:
    # Format the file path with the current region
    file_path = base_path.format(region)
    
    # Read the CSV file and save it into the dictionary
    GenRes[region-1] = pd.read_csv(file_path, index_col=0)

### Transmission Update (no update for now)

In [4]:
Region = pd.read_csv('Processed Data/2022/Reduced_Area_Region.csv', index_col=0)
TransmissionMap = pd.read_csv('Processed Data/2022/TransmissionMap.csv', index_col=0)
TransmissionCAP = pd.read_csv('Processed Data/2022/Transmission_Cap.csv', index_col=0)

In [5]:
Region.to_csv('Processed Data/'+str(Year)+'/Reduced_Area_Region.csv')
TransmissionMap.to_csv('Processed Data/'+str(Year)+'/TransmissionMap.csv')
TransmissionCAP.to_csv('Processed Data/'+str(Year)+'/Transmission_CAP.csv')

### Coal retire by region

In [6]:
ThermalGen = pd.read_csv('Processed Data/2022/ThermalGen_Full_C.csv', index_col=0)

In [241]:
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,Pyramid 1,False,NaN,3,46.0,25.00,262.0504,7.000,7.530,14.000,...,3.397497,NG_New Mexico_South,3.397497,1832.087675,890.315382,25.583151,28.688463,0.000000,0.0,0.0
1420,Coolidge 08,False,NaN,3,45.0,24.00,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.000000,0.0,0.0
1421,Coolidge 04,False,NaN,3,49.0,24.00,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.000000,0.0,0.0
1422,Yucca GT5,False,NaN,3,49.0,20.00,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.000000,0.0,0.0
1423,Coolidge 02,False,NaN,2,45.0,26.00,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.000000,0.0,0.0

In [253]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone'] == Zone) & (ThermalGen['SubType'] == 'ST-Coal')]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
260,Coronado CO1,False,NaN,5,380.0,138.182,1857.4930,48.363,10.931,48.364,...,1.975636,Oil_DistillateFuel_2,24.566520,175150.636400,3669.730041,21.595677,22.050073,22.563739,23.247309,0.0
261,Coronado CO2,False,NaN,5,382.0,170.000,2077.7890,42.400,10.831,42.400,...,1.975636,Oil_DistillateFuel_2,24.566520,176072.478960,4104.954749,21.398114,21.842632,22.342468,23.010232,0.0
262,Springerville 1,False,NaN,4,387.0,210.000,1976.5030,35.400,8.657,53.100,...,1.314635,Oil_DistillateFuel_2,24.566520,178377.095360,2598.380021,11.380795,11.620059,12.003932,0.000000,0.0
263,Springerville 2,False,NaN,4,406.0,255.000,2309.1680,30.200,8.541,45.300,...,1.314635,Oil_DistillateFuel_2,24.566520,187134.629680,3035.713074,11.228298,11.417605,11.721286,0.000000,0.0
264,Springerville 4,False,NaN,4,415.0,264.091,2742.5820,30.182,9.309,45.272,...,1.707236,Oil_DistillateFuel_2,24.566520,191282.931200,4682.234723,15.892660,15.931926,15.995094,0.000000,0.0
265,Springerville 3,False,NaN,4,417.0,271.753,2830.3220,29.049,9.375,43.574,...,1.707236,Oil_DistillateFuel_2,24.566520,192204.773760,4832.027610,16.005337,16.044604,16.106064,0.000000,0.0
988,Apache ST3,False,NaN,4,175.0,49.359,629.9562,25.128,10.314,37.692,...,2.060893,NG_AZ_North-South,3.485849,34558.430499,1298.272323,21.256050,22.342141,24.081535,0.000000,0.0

In [258]:
subset['IOMaxCap(MW)'].sum()

2562.0

In [254]:
GenRes[Zone-1][str(Year)]['Coal']*1000

302.0

In [259]:
# Expand base on lowest emission
n = 1
LowEmission= subset.nsmallest(n, 'IncCost2($/MW)')
LowEmission

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
263,Springerville 2,False,NaN,4,406.0,255.0,2309.168,30.2,8.541,45.3,...,1.314635,Oil_DistillateFuel_2,24.56652,187134.62968,3035.713074,11.228298,11.417605,11.721286,0.0,0.0

In [260]:
LowEmission['IOMaxCap(MW)'].sum()

406.0

In [261]:
ThermalGen = pd.concat([ThermalGen, LowEmission], ignore_index=True)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,Coolidge 08,False,NaN,3,45.0,24.00,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.000000,0.0,0.0
1421,Coolidge 04,False,NaN,3,49.0,24.00,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.000000,0.0,0.0
1422,Yucca GT5,False,NaN,3,49.0,20.00,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.000000,0.0,0.0
1423,Coolidge 02,False,NaN,2,45.0,26.00,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.000000,0.0,0.0
1424,Springerville 2,False,NaN,4,406.0,255.00,2309.1680,30.200,8.541,45.300,...,1.314635,Oil_DistillateFuel_2,24.566520,187134.629680,3035.713074,11.228298,11.417605,11.721286,0.0,0.0

In [15]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [29]:
# Retire base on top emission
n = 4
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
260,Jim_Bridger_3,False,NaN,6,523.0,140.000,1803.4960,76.600,10.147,76.600,...,2.119836,Oil_DistillateFuel_2,24.56652,241062.589440,3823.115747,21.509976,22.120489,22.728882,23.337275,23.945667
288,Hayden 1,False,NaN,3,179.0,102.925,1333.3110,25.358,11.614,50.717,...,1.733550,Oil_DistillateFuel_2,24.56652,72459.668056,2311.361284,20.133450,21.723115,0.000000,0.000000,0.000000
284,Newmont TS Power,False,NaN,4,219.2,80.000,807.9254,27.840,8.584,41.760,...,2.246142,Oil_DistillateFuel_2,24.56652,83749.522713,1814.715174,19.280883,19.862634,20.792536,0.000000,0.000000
259,Jim_Bridger_4,False,NaN,6,530.0,140.000,1600.7930,78.000,8.975,78.000,...,2.119836,Oil_DistillateFuel_2,24.56652,244289.048400,3393.418630,19.025528,19.566086,20.106644,20.647203,21.189881

In [30]:
TopEmission['IOMaxCap(MW)'].sum()

1451.2

In [31]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [35]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### ST retire by region

In [36]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)

In [37]:
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [279]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='ST-NatGas')|(ThermalGen['SubType']=='ST-Other')|(ThermalGen['SubType']=='ST-WasteHeat'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
924,Agua Fria 1,False,NaN,3,114.0,45.00000,469.6729,23.00000,8.860,46.00000,...,3.485849,NG_AZ_North-South,3.485849,11327.156582,1637.208965,30.884625,32.763498,0.000000,0.0,0.0
925,Agua Fria 2,False,NaN,3,114.0,45.00000,474.5149,23.00000,8.951,46.00000,...,3.485849,NG_AZ_North-South,3.485849,11327.156582,1654.087448,31.201837,33.101625,0.000000,0.0,0.0
926,Agua Fria 3,False,NaN,4,184.0,60.00000,645.1573,24.80000,9.245,37.20000,...,3.485849,NG_AZ_North-South,3.485849,18213.274130,2248.921144,32.226677,32.589205,33.164371,0.0,0.0
940,H Wilson Sundt ST3,False,NaN,3,104.0,20.00000,255.9147,28.00000,9.356,56.00000,...,3.485849,NG_AZ_North-South,3.485849,10478.867486,892.080086,32.613606,37.078979,0.000000,0.0,0.0
956,H Wilson Sundt 4 Gas,False,NaN,4,156.0,40.00000,472.6180,23.20000,9.023,34.80000,...,3.485849,NG_AZ_North-South,3.485849,15568.599064,1647.475140,31.452819,33.248031,36.127342,0.0,0.0
992,Reeves 1,False,NaN,3,44.0,10.00000,167.7857,11.33300,8.550,22.66700,...,3.397497,NG_New Mexico_South,3.397497,4356.467524,570.051370,29.048597,36.543475,0.000000,0.0,0.0
993,Reeves 2,False,NaN,3,44.0,10.00000,154.5922,11.33300,9.514,22.66700,...,3.397497,NG_New Mexico_South,3.397497,4356.467524,525.226497,32.323784,35.945516,0.000000,0.0,0.0
994,Reeves 3,False,NaN,3,66.0,15.00000,207.2389,17.00000,9.210,34.00000,...,3.397497,NG_New Mexico_South,3.397497,4583.858653,704.093489,31.290945,36.183340,0.000000,0.0,0.0
1079,Yuma Axis1ST86.7,False,NaN,3,86.7,28.89711,1218.9020,28.89971,5.392,28.90318,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,19.563105,21.134104,0.000000,0.0,0.0

In [280]:
subset['IOMaxCap(MW)'].sum()

912.7

In [281]:
GenRes[Zone-1][str(Year)]['Oil and Natural Gas Steam 3/']*1000

-151.0

In [51]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [74]:
# Retire base on top emission
n = 1
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
1094,Apache ST2,False,NaN,4,175.0,50.0,669.2489,25.0,10.345,37.5,...,3.485849,NG_AZ_North-South,3.485849,34558.430499,2332.900832,36.061111,37.392706,39.52256,0.0,0.0

In [75]:
TopEmission['IOMaxCap(MW)'].sum()

175.0

In [76]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [77]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### CC retire by region

In [78]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [293]:
Zone = 5
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='CCWhole-NatGas-SingleShaft')|(ThermalGen['SubType']=='CCWhole-NatGas-Aero')|(ThermalGen['SubType']=='CCWhole-NatGas-Industrial')|(ThermalGen['SubType']=='CCPart-Steam'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
496,LangleyGulchCC-Total,False,NaN,4,312.40000,170.000,1281.5920,47.467,5.522,47.466,...,3.434294,NG_Idaho_Opal,3.434294,21578.036420,4401.363182,18.964169,20.324149,21.684130,0.000000,0.0
498,Rupert_Cgn,False,NaN,5,10.40000,4.160,29.9680,0.178,9.626,1.961,...,3.434294,NG_Idaho_Opal,3.434294,818.124597,102.918910,33.058510,33.261133,33.535877,34.085364,0.0
735,Brush CC4,False,NaN,2,118.00000,35.400,567.3290,82.600,8.532,0.000,...,3.434265,NG_Colorado_Cheyenne,3.434265,9282.567392,1948.358270,29.301151,0.000000,0.000000,0.000000,0.0
742,JM Shafer CC,False,NaN,5,275.40000,41.000,535.0000,58.600,6.152,58.600,...,3.434265,NG_Colorado_Cheyenne,3.434265,21664.571200,1837.331909,21.127600,22.824127,24.548128,26.268695,0.0
743,Brush CC2,False,NaN,2,67.10000,20.130,322.6080,46.970,8.532,0.000,...,3.434265,NG_Colorado_Cheyenne,3.434265,5278.476408,1107.921444,29.301151,0.000000,0.000000,0.000000,0.0
798,Pueblo Airport 3 CC,False,NaN,3,99.00100,49.500,419.7020,16.484,6.649,33.017,...,3.434265,NG_Colorado_Cheyenne,3.434265,7787.994142,1441.367994,22.834430,24.235610,0.000000,0.000000,0.0
799,Pueblo Airport 4 CC,False,NaN,3,99.00100,49.500,419.7020,16.484,6.649,33.017,...,3.434265,NG_Colorado_Cheyenne,3.434265,7787.994142,1441.367994,22.834430,24.235610,0.000000,0.000000,0.0
804,Cheyenne Prairie 1CC,False,NaN,3,99.10001,49.550,420.1260,16.500,6.649,33.050,...,3.434265,NG_Colorado_Cheyenne,3.434265,7795.783565,1442.824122,22.834430,24.235610,0.000000,0.000000,0.0
815,Rifle CC,False,NaN,5,78.90000,22.000,264.0000,14.230,6.541,14.230,...,3.434265,NG_Colorado_Cheyenne,3.434265,6206.733247,906.646026,22.463529,24.269953,26.100416,27.934314,0.0
817,Arapahoe CC1a,False,NaN,4,62.50000,30.500,269.6588,6.667,6.391,13.333,...,3.434265,NG_Colorado_Cheyenne,3.434265,4995.279202,926.079846,21.948389,23.342701,29.819725,0.000000,0.0
818,Arapahoe CC1b,False,NaN,4,62.50000,30.500,269.6588,6.667,6.391,13.333,...,3.434265,NG_Colorado_Cheyenne,3.434265,4995.279202,926.079846,21.948389,23.342701,29.819725,0.000000,0.0
819,Cherokee CC1a,False,NaN,5,302.50000,155.000,1158.5690,38.333,5.654,38.334,...,3.434265,NG_Colorado_Cheyenne,3.434265,26472.941320,3978.833256,19.417336,20.231257,21.045177,29.191255,0.0
820,Cherokee CC1b,False,NaN,5,302.50000,155.000,1158.5690,38.333,5.654,38.334,...,3.434265,NG_Colorado_Cheyenne,3.434265,26472.941320,3978.833256,19.417336,20.231257,21.045177,29.191255,0.0
821,Fort St Vrain CC1a,False,NaN,5,240.00000,140.000,1052.6540,20.333,6.212,20.334,...,3.434265,NG_Colorado_Cheyenne,3.434265,15274.539510,3615.093052,21.333656,21.642740,21.955258,30.025781,0.0
822,Fort St Vrain CC1b,False,NaN,5,240.00000,140.000,1052.6540,20.333,6.212,20.334,...,3.434265,NG_Colorado_Cheyenne,3.434265,15274.539510,3615.093052,21.333656,21.642740,21.955258,30.025781,0.0
823,Fort St Vrain CC1c,False,NaN,5,240.00000,140.000,1052.6540,20.333,6.212,20.334,...,3.434265,NG_Colorado_Cheyenne,3.434265,15274.539510,3615.093052,21.333656,21.642740,21.955258,30.025781,0.0
824,Front Range CC1a,False,NaN,5,250.00000,96.255,786.7819,37.082,5.504,37.081,...,3.434265,NG_Colorado_Cheyenne,3.434265,19312.456910,2702.017738,18.902196,20.550643,22.199091,31.595240,0.0
825,Front Range CC1b,False,NaN,5,250.00000,96.255,786.7819,37.082,5.504,37.081,...,3.434265,NG_Colorado_Cheyenne,3.434265,19312.456910,2702.017738,18.902196,20.550643,22.199091,31.595240,0.0
826,Rocky Mtn CC1a,False,NaN,3,312.50000,122.500,974.2799,110.500,6.154,79.500,...,3.434265,NG_Colorado_Cheyenne,3.434265,27352.443560,3345.935604,21.134468,29.191255,0.000000,0.000000,0.0
827,Rocky Mtn CC1b,False,NaN,3,312.50000,122.500,974.2799,110.500,6.154,79.500,...,3.434265,NG_Colorado_Cheyenne,3.434265,27352.443560,3345.935604,21.134468,29.191255,0.000000,0.000000,0.0
851,NeboPwrStaCC-Total,False,NaN,4,150.00000,77.000,630.4963,12.000,6.912,24.000,...,3.418454,NG_Utah_Opal Kern,3.418454,11012.680050,2155.322441,23.628352,25.617892,34.184537,0.000000,0.0
854,Currant Creek CC1a,False,NaN,5,277.50000,136.000,1035.9620,27.933,5.583,27.934,...,3.418454,NG_Utah_Opal Kern,3.418454,20833.640590,3541.388184,19.085227,20.565418,22.045608,31.449775,0.0
855,Currant Creek CC1b,False,NaN,5,277.50000,136.000,1035.9620,27.933,5.583,27.934,...,3.418454,NG_Utah_Opal Kern,3.418454,20833.640590,3541.388184,19.085227,20.565418,22.045608,31.449775,0.0
856,Lake Side CC1a,False,NaN,5,281.50000,114.810,926.3839,44.230,5.433,44.230,...,3.418454,NG_Utah_Opal Kern,3.418454,21160.085370,3166.800517,18.572459,20.192806,21.813153,34.184537,0.0
857,Lake Side CC1b,False,NaN,5,281.50000,114.810,926.3839,44.230,5.433,44.230,...,3.418454,NG_Utah_Opal Kern,3.418454,21160.085370,3166.800517,18.572459,20.192806,21.813153,34.184537,0.0
858,Lake Side CC2a,False,NaN,5,323.50000,125.062,993.0385,48.179,5.347,48.180,...,3.418454,NG_Utah_Opal Kern,3.418454,24703.805700,3394.656184,18.278472,19.871472,21.467890,29.056857,0.0
859,Lake Side CC2b,False,NaN,5,323.50000,125.062,993.0385,48.179,5.347,48.180,...,3.418454,NG_Utah_Opal Kern,3.418454,24703.805700,3394.656184,18.278472,19.871472,21.467890,29.056857,0.0
1007,Bluffview 1CC,False,NaN,3,57.00000,46.000,387.3009,2.000,7.687,9.000,...,3.400868,NG_New Mexico_North,3.400868,4562.153080,1317.159173,26.142471,31.223368,0.000000,0.000000,0.0
1008,Saguaro CC1,False,NaN,5,105.00000,21.000,179.0000,25.920,5.620,25.920,...,3.516235,NG_Nevada_South,3.516235,8261.977112,629.405990,19.761238,21.853398,23.840070,33.337420,0.0
1011,Las Vegas Cogen 1CC,False,NaN,2,55.00000,26.442,227.1788,28.558,6.688,0.000,...,3.516235,NG_Nevada_South,3.516235,4319.833907,798.813953,23.516577,0.000000,0.000000,0.000000,0.0
1012,NevadaCogen CC2,False,NaN,5,88.50000,35.400,302.0000,3.080,4.717,8.430,...,3.516235,NG_Nevada_South,3.516235,6963.665823,1061.902844,16.586079,17.335037,18.287936,19.504553,0.0
1013,NevadaCogen CC1,False,NaN,5,88.50000,35.400,302.0000,3.080,4.717,8.430,...,3.516235,NG_Nevada_South,3.516235,6963.665823,1061.902844,16.586079,17.335037,18.287936,19.504553,0.0
1032,C Lenzie CC1a,False,NaN,5,300.00000,135.000,1051.3290,37.667,5.602,37.666,...,3.516235,NG_Nevada_South,3.516235,23015.509670,3696.719388,19.697946,21.343544,22.985625,30.942864,0.0
1033,C Lenzie CC1b,False,NaN,5,300.00000,135.000,1051.3290,37.667,5.602,37.666,...,3.516235,NG_Nevada_South,3.516235,23015.509670,3696.719388,19.697946,21.343544,22.985625,30.942864,0.0
1034,C Lenzie CC2a,False,NaN,5,300.00000,135.000,1052.7990,37.667,5.566,37.666,...,3.516235,NG_Nevada_South,3.516235,23015.509670,3701.888253,19.571362,21.498258,23.425155,30.942864,0.0
1035,C Lenzie CC2b,False,NaN,5,300.00000,135.000,1052.7990,37.667,5.566,37.666,...,3.516235,NG_Nevada_South,3.516235,23015.509670,3701.888253,19.571362,21.498258,23.425155,30.942864,0.0
1036,Clark CC1a,False,NaN,5,125.00000,68.750,586.5000,14.065,6.541,14.065,...,3.516235,NG_Nevada_South,3.516235,9835.687038,2062.271583,22.999690,24.849230,26.723383,28.601052,0.0
1037,Clark CC1b,False,NaN,5,125.00000,68.750,586.5000,14.065,6.541,14.065,...,3.516235,NG_Nevada_South,3.516235,9835.687038,2062.271583,22.999690,24.849230,26.723383,28.601052,0.0
1038,Clark CC2a,False,NaN,5,125.00000,68.750,586.5000,14.065,6.541,14.065,...,3.516235,NG_Nevada_South,3.516235,9835.687038,2062.271583,22.999690,24.849230,26.723383,28.601052,0.0
1039,Clark CC2b,False,NaN,5,125.00000,68.750,586.5000,14.065,6.541,14.065,...,3.516235,NG_Nevada_South,3.516235,9835.687038,2062.271583,22.999690,24.849230,26.723383,28.601052,0.0
1042,Harry Allen CC1a,False,NaN,4,259.00000,142.500,1082.8030,38.833,5.350,38.834,...,3.516235,NG_Nevada_South,3.516235,20525.110350,3807.389356,18.811855,21.255638,23.702937,0.000000,0.0
1043,Harry Allen CC1b,False,NaN,4,259.00000,142.500,1082.8030,38.833,5.350,38.834,...,3.516235,NG_Nevada_South,3.516235,20525.110350,3807.389356,18.811855,21.255638,23.702937,0.000000,0.0
1044,Higgins CC1a,False,NaN,4,320.70000,133.870,1013.3330,48.680,5.515,60.850,...,3.516235,NG_Nevada_South,3.516235,25234.437540,3563.116539,19.392034,22.978593,32.349358,0.000000,0.0
1045,Higgins CC1b,False,NaN,4,320.70000,133.870,1013.3330,48.680,5.515,60.850,...,3.516235,NG_Nevada_South,3.516235,25234.437540,3563.116539,19.392034,22.978593,32.349358,0.000000,0.0
1046,Las Vegas Cogen 2CC1a,False,NaN,3,60.00000,26.374,231.5074,11.208,5.735,22.418,...,3.516235,NG_Nevada_South,3.516235,4422.124972,814.034326,20.165605,22.883655,0.000000,0.000000,0.0
1047,Las Vegas Cogen 2CC1b,False,NaN,3,60.00000,26.374,231.5074,11.208,5.735,22.418,...,3.516235,NG_Nevada_South,3.516235,4422.124972,814.034326,20.165605,22.883655,0.000000,0.000000,0.0
1048,Las Vegas Cogen 2CC2a,False,NaN,3,60.00000,26.374,231.5074,11.208,5.735,22.418,...,3.516235,NG_Nevada_South,3.516235,4422.124972,814.034326,20.165605,22.883655,0.000000,0.000000,0.0
1049,Las Vegas Cogen 2CC2b,False,NaN,3,60.00000,26.374,231.5074,11.208,5.735,22.418,...,3.516235,NG_Nevada_South,3.516235,4422.124972,814.034326,20.165605,22.883655,0.000000,0.000000,0.0
1050,Silverhawk CC1a,False,NaN,5,285.00000,152.500,1166.3310,32.667,5.942,32.666,...,3.516235,NG_Nevada_South,3.516235,22267.992650,4101.093398,20.893466,23.024304,25.158658,30.457624,0.0
1051,Silverhawk CC1b,False,NaN,5,285.00000,152.500,1166.3310,32.667,5.942,32.666,...,3.516235,NG_Nevada_South,3.516235,22267.992650,4101.093398,20.893466,23.024304,25.158658,30.457624,0.0
1054,Tracy NV CC1,False,NaN,3,108.00000,57.000,501.4090,30.200,6.832,20.800,...,3.390260,NG_Nevada_North,3.390260,9690.924585,1699.906667,23.162253,33.604253,0.000000,0.000000,0.0
1069,Tracy NV CC2a,False,NaN,5,277.50000,145.000,1133.1470,25.500,5.941,25.500,...,3.390260,NG_Nevada_North,3.390260,20843.640510,3841.662476,20.141532,20.690754,21.239976,28.817206,0.0
1070,Tracy NV CC2b,False,NaN,5,277.50000,145.000,1133.1470,25.500,5.941,25.500,...,3.390260,NG_Nevada_North,3.390260,20843.640510,3841.662476,20.141532,20.690754,21.239976,28.817206,0.0

In [285]:
subset['IOMaxCap(MW)'].sum()

10208.87999

In [294]:
GenRes[Zone-1][str(Year)]['Combined Cycle']*1000

1519.0

In [307]:
# Expand base on lowest emission
n = 6
LowEmission= subset.nsmallest(n, 'IncCost2($/MW)')
LowEmission

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
1012,NevadaCogen CC2,False,NaN,5,88.5,35.400,302.0000,3.080,4.717,8.43,...,3.516235,NG_Nevada_South,3.516235,6963.665823,1061.902844,16.586079,17.335037,18.287936,19.504553,0.0
1013,NevadaCogen CC1,False,NaN,5,88.5,35.400,302.0000,3.080,4.717,8.43,...,3.516235,NG_Nevada_South,3.516235,6963.665823,1061.902844,16.586079,17.335037,18.287936,19.504553,0.0
858,Lake Side CC2a,False,NaN,5,323.5,125.062,993.0385,48.179,5.347,48.18,...,3.418454,NG_Utah_Opal Kern,3.418454,24703.805700,3394.656184,18.278472,19.871472,21.467890,29.056857,0.0
859,Lake Side CC2b,False,NaN,5,323.5,125.062,993.0385,48.179,5.347,48.18,...,3.418454,NG_Utah_Opal Kern,3.418454,24703.805700,3394.656184,18.278472,19.871472,21.467890,29.056857,0.0
856,Lake Side CC1a,False,NaN,5,281.5,114.810,926.3839,44.230,5.433,44.23,...,3.418454,NG_Utah_Opal Kern,3.418454,21160.085370,3166.800517,18.572459,20.192806,21.813153,34.184537,0.0
857,Lake Side CC1b,False,NaN,5,281.5,114.810,926.3839,44.230,5.433,44.23,...,3.418454,NG_Utah_Opal Kern,3.418454,21160.085370,3166.800517,18.572459,20.192806,21.813153,34.184537,0.0

In [308]:
LowEmission['IOMaxCap(MW)'].sum()

1387.0

In [309]:
ThermalGen = pd.concat([ThermalGen, LowEmission], ignore_index=True)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.570,6.9080,1.330,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.000000,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.570,9.6890,0.380,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.570,9.6890,0.380,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.570,9.6890,0.380,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.570,9.6890,0.380,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,NevadaCogen CC1,False,NaN,5,88.5,35.400,302.0000,3.080,4.717,8.43,...,3.516235,NG_Nevada_South,3.516235,6963.665823,1061.902844,16.586079,17.335037,18.287936,19.504553,0.0
1427,Lake Side CC2a,False,NaN,5,323.5,125.062,993.0385,48.179,5.347,48.18,...,3.418454,NG_Utah_Opal Kern,3.418454,24703.805700,3394.656184,18.278472,19.871472,21.467890,29.056857,0.0
1428,Lake Side CC2b,False,NaN,5,323.5,125.062,993.0385,48.179,5.347,48.18,...,3.418454,NG_Utah_Opal Kern,3.418454,24703.805700,3394.656184,18.278472,19.871472,21.467890,29.056857,0.0
1429,Lake Side CC1a,False,NaN,5,281.5,114.810,926.3839,44.230,5.433,44.23,...,3.418454,NG_Utah_Opal Kern,3.418454,21160.085370,3166.800517,18.572459,20.192806,21.813153,34.184537,0.0
1430,Lake Side CC1b,False,NaN,5,281.5,114.810,926.3839,44.230,5.433,44.23,...,3.418454,NG_Utah_Opal Kern,3.418454,21160.085370,3166.800517,18.572459,20.192806,21.813153,34.184537,0.0

In [ ]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

In [144]:
# Retire base on top emission
n = 2
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
767,ASU CHP,False,NaN,2,9.190001,5.0,35.664,4.19,6.797,0.0,...,5.381985,NG_Cal_SoCalGas,5.381985,1264.086364,191.943128,36.581355,0.0,0.0,0.0,0.0
768,U of AZ Cogen 1,False,NaN,2,9.000000,5.0,35.664,4.00,6.797,0.0,...,5.381985,NG_Cal_SoCalGas,5.381985,1264.086364,191.943128,36.581355,0.0,0.0,0.0,0.0

In [145]:
TopEmission['IOMaxCap(MW)'].sum()

18.190001000000002

In [146]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [147]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### CT add new units

In [148]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [313]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='CT-NatGas-Aero')|(ThermalGen['SubType']=='CT-NatGas-Industrial')|(ThermalGen['SubType']=='CT-OilDistillate')|(ThermalGen['SubType']=='CT-Aero')|(ThermalGen['SubType']=='CT-AB-Cogen'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
226,Yucca GT4,False,NaN,2,53.0,15.9,262.0000,37.100,11.219,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,1717.978556,6436.428240,275.611788,0.000000,0.0,0.0,0.0
227,Yucca GT21,False,NaN,2,22.0,11.0,193.3430,11.000,8.101,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,3107.376283,4749.764676,199.013378,0.000000,0.0,0.0,0.0
228,Rockwood 1,False,NaN,2,25.0,12.5,219.8100,12.500,8.105,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,810.367300,5399.966761,199.111645,0.000000,0.0,0.0,0.0
229,Rockwood 2,False,NaN,2,25.0,12.5,219.2620,12.500,8.085,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,810.367300,5386.504308,198.620314,0.000000,0.0,0.0,0.0
230,Coachella 1,False,NaN,2,20.0,10.0,166.7580,10.000,7.686,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,3406.319712,4096.663742,188.818273,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,Pyramid 1,False,NaN,3,46.0,25.0,262.0504,7.000,7.530,14.000,...,3.397497,NG_New Mexico_South,3.397497,1832.087675,890.315382,25.583151,28.688463,0.0,0.0,0.0
1420,Coolidge 08,False,NaN,3,45.0,24.0,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.0,0.0,0.0
1421,Coolidge 04,False,NaN,3,49.0,24.0,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.0,0.0,0.0
1422,Yucca GT5,False,NaN,3,49.0,20.0,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.0,0.0,0.0
1423,Coolidge 02,False,NaN,2,45.0,26.0,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.0,0.0,0.0

In [314]:
subset['IOMaxCap(MW)'].sum()

5785.701

In [312]:
GenRes[Zone-1][str(Year)]['Combustion Turbine/Diesel']*1000

1196.6399999999999

In [238]:
# Expand base on lowest emission
n = 30
LowEmission= subset.nsmallest(n, 'IncCost2($/MW)')
LowEmission

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
946,Valencia AZ 1,False,NaN,1,14.0,14.0,106.2400,0.000,0.000,0.000,...,3.485849,NG_AZ_North-South,3.485849,637.326985,370.336633,0.000000,0.000000,0.000000,0.000000,0.000000
947,Valencia AZ 2,False,NaN,1,14.0,14.0,106.2400,0.000,0.000,0.000,...,3.485849,NG_AZ_North-South,3.485849,637.326985,370.336633,0.000000,0.000000,0.000000,0.000000,0.000000
948,Valencia AZ 3,False,NaN,1,14.0,14.0,106.2400,0.000,0.000,0.000,...,3.485849,NG_AZ_North-South,3.485849,637.326985,370.336633,0.000000,0.000000,0.000000,0.000000,0.000000
949,Valencia AZ 4,False,NaN,1,20.0,20.0,153.8760,0.000,0.000,0.000,...,3.485849,NG_AZ_North-South,3.485849,944.936750,536.388552,0.000000,0.000000,0.000000,0.000000,0.000000
544,RioGrande9,False,NaN,3,95.0,50.0,511.5442,15.000,6.233,30.000,...,3.316763,NG_West Texas_Waha,3.316763,4135.805828,1696.671089,20.673386,24.325143,0.000000,0.000000,0.000000
542,Montana_2_G2,False,NaN,3,97.0,50.0,506.7479,15.667,6.747,31.333,...,3.316763,NG_West Texas_Waha,3.316763,4144.792828,1680.762896,22.378203,23.310213,0.000000,0.000000,0.000000
540,Montana_4_G4,False,NaN,3,97.0,50.0,502.4456,15.667,6.812,31.333,...,3.316763,NG_West Texas_Waha,3.316763,4174.750828,1666.493185,22.593792,24.262124,0.000000,0.000000,0.000000
543,Montana_1_G1,False,NaN,3,93.2,50.0,501.2907,14.400,6.879,28.800,...,3.316763,NG_West Texas_Waha,3.316763,4144.792828,1662.662655,22.816016,23.940398,0.000000,0.000000,0.000000
1005,Valencia NM 1,False,NaN,4,158.0,80.0,1002.7490,26.000,6.754,26.000,...,3.400868,NG_New Mexico_North,3.400868,8667.784684,3410.216819,22.969461,25.547319,28.121776,0.000000,0.000000
890,Saguaro AZ 2,False,NaN,3,79.0,40.0,552.7667,13.000,6.710,26.000,...,3.485849,NG_AZ_North-South,3.485849,4723.925061,1926.861433,23.390049,28.078516,0.000000,0.000000,0.000000
541,Montana_3_G3,False,NaN,3,97.0,50.0,516.5762,15.667,7.194,31.333,...,3.316763,NG_West Texas_Waha,3.316763,4174.750828,1713.361042,23.860796,24.427963,0.000000,0.000000,0.000000
991,La Luz Energy Center,False,NaN,3,42.0,12.0,167.7473,10.000,7.105,20.000,...,3.397497,NG_New Mexico_South,3.397497,1904.645732,569.920907,24.139214,26.055403,0.000000,0.000000,0.000000
920,Coolidge 09,False,NaN,3,45.0,24.0,258.2314,7.000,6.955,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,900.155754,24.244082,26.370450,0.000000,0.000000,0.000000
997,Lordsburg 2,False,NaN,3,43.0,14.0,185.4803,9.667,7.172,19.333,...,3.397497,NG_New Mexico_South,3.397497,1813.948411,630.168716,24.366847,26.789262,0.000000,0.000000,0.000000
916,Coolidge 05,False,NaN,3,49.0,26.0,273.4064,7.667,7.157,15.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,953.053517,24.948224,25.652365,0.000000,0.000000,0.000000
917,Coolidge 06,False,NaN,3,49.0,24.0,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.000000,0.000000
918,Coolidge 07,False,NaN,3,49.0,24.0,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.000000,0.000000
923,Coolidge 12,False,NaN,3,45.0,24.0,258.4632,7.000,7.185,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,900.963773,25.045827,25.286351,0.000000,0.000000,0.000000
921,Coolidge 10,False,NaN,3,50.0,24.0,258.6641,8.667,7.204,17.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,901.664081,25.112059,26.049752,0.000000,0.000000,0.000000
996,Lordsburg 1,False,NaN,3,43.0,16.0,203.9638,9.000,7.418,18.000,...,3.397497,NG_New Mexico_South,3.397497,1813.948411,692.966348,25.202631,26.615990,0.000000,0.000000,0.000000
914,Coolidge 03,False,NaN,3,45.0,24.0,257.6557,7.000,7.274,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.148950,25.356068,26.757379,0.000000,0.000000,0.000000
922,Coolidge 11,False,NaN,3,50.0,24.0,261.1692,8.667,7.274,17.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,910.396482,25.356068,26.304219,0.000000,0.000000,0.000000
912,Coolidge 01,False,NaN,3,50.0,26.0,275.6618,8.000,7.307,16.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,960.915502,25.471101,25.962606,0.000000,0.000000,0.000000
1004,Rio Bravo,False,NaN,4,148.0,80.0,1040.7550,22.667,7.500,22.666,...,3.400868,NG_New Mexico_North,3.400868,8488.451111,3539.470202,25.506509,28.557087,31.604265,0.000000,0.000000
1006,LANL TA 3 GT1,False,NaN,6,24.0,10.8,285.0000,2.640,7.500,2.640,...,3.400868,NG_New Mexico_North,3.400868,1088.735351,969.247333,25.506509,25.635742,25.764975,25.894208,26.023441
998,Pyramid 1,False,NaN,3,46.0,25.0,262.0504,7.000,7.530,14.000,...,3.397497,NG_New Mexico_South,3.397497,1832.087675,890.315382,25.583151,28.688463,0.000000,0.000000,0.000000
919,Coolidge 08,False,NaN,3,45.0,24.0,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.000000,0.000000,0.000000
915,Coolidge 04,False,NaN,3,49.0,24.0,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.000000,0.000000,0.000000
900,Yucca GT5,False,NaN,3,49.0,20.0,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.000000,0.000000,0.000000
913,Coolidge 02,False,NaN,2,45.0,26.0,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.000000,0.000000,0.000000

In [239]:
LowEmission['IOMaxCap(MW)'].sum()

1744.2

In [240]:
ThermalGen = pd.concat([ThermalGen, LowEmission], ignore_index=True)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,Pyramid 1,False,NaN,3,46.0,25.00,262.0504,7.000,7.530,14.000,...,3.397497,NG_New Mexico_South,3.397497,1832.087675,890.315382,25.583151,28.688463,0.000000,0.0,0.0
1420,Coolidge 08,False,NaN,3,45.0,24.00,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.000000,0.0,0.0
1421,Coolidge 04,False,NaN,3,49.0,24.00,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.000000,0.0,0.0
1422,Yucca GT5,False,NaN,3,49.0,20.00,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.000000,0.0,0.0
1423,Coolidge 02,False,NaN,2,45.0,26.00,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.000000,0.0,0.0

### Nuclear retire by region

In [315]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,Coolidge 08,False,NaN,3,45.0,24.00,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.000000,0.0,0.0
1421,Coolidge 04,False,NaN,3,49.0,24.00,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.000000,0.0,0.0
1422,Yucca GT5,False,NaN,3,49.0,20.00,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.000000,0.0,0.0
1423,Coolidge 02,False,NaN,2,45.0,26.00,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.000000,0.0,0.0
1424,Springerville 2,False,NaN,4,406.0,255.00,2309.1680,30.200,8.541,45.300,...,1.314635,Oil_DistillateFuel_2,24.566520,187134.629700,3035.713074,11.228298,11.417605,11.721286,0.0,0.0

In [331]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='ST-Nuclear'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
536,Palo Verde 1,False,NaN,1,1333.0,1333.0,14389.10,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170531.1,10612.77280,0.0,0.0,0.0,0.0,0.0
537,Palo Verde 2,False,NaN,1,1336.0,1336.0,14237.06,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170902.9,10500.63472,0.0,0.0,0.0,0.0,0.0
538,Palo Verde 3,False,NaN,1,1334.0,1334.0,14134.51,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170655.0,10424.99831,0.0,0.0,0.0,0.0,0.0

In [332]:
subset['IOMaxCap(MW)'].sum()

4003.0

In [333]:
GenRes[Zone-1][str(Year)]['Nuclear Power']*1000

-66.0

In [319]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,Coolidge 08,False,NaN,3,45.0,24.00,264.8570,7.000,7.346,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,923.251597,25.607049,25.659337,0.000000,0.0,0.0
1421,Coolidge 04,False,NaN,3,49.0,24.00,257.7660,8.333,7.434,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,898.533439,25.913804,26.133412,0.000000,0.0,0.0
1422,Yucca GT5,False,NaN,3,49.0,20.00,260.9199,9.667,7.625,19.333,...,3.485849,NG_AZ_North-South,3.485849,2255.422246,909.527459,26.579601,29.037125,0.000000,0.0,0.0
1423,Coolidge 02,False,NaN,2,45.0,26.00,273.2277,19.000,7.653,0.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,952.430596,26.677205,0.000000,0.000000,0.0,0.0
1424,Springerville 2,False,NaN,4,406.0,255.00,2309.1680,30.200,8.541,45.300,...,1.314635,Oil_DistillateFuel_2,24.566520,187134.629700,3035.713074,11.228298,11.417605,11.721286,0.0,0.0

In [ ]:
# Retire base on top emission
n = 4
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission

In [ ]:
TopEmission['IOMaxCap(MW)'].sum()

In [ ]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

In [334]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

In [335]:
### Thermal Gen map

In [554]:
mask = thermalgen['InitialDispatch(MW)'] != 0
ThermalGen.loc[mask, 'InitialDispatch(MW)'] = ThermalGen.loc[mask, 'InitialDispatch(MW)'].clip(lower=ThermalGen.loc[mask, 'IOMinCap(MW)'], upper=ThermalGen.loc[mask, 'IOMaxCap(MW)'])

In [555]:
ThermalGen['Initial Status'] = (ThermalGen['InitialDispatch(MW)'] != 0).astype(int)

/var/folders/f2/rxpbf6rd2wjbpqry4k3rs6fr0000gn/T/ipykernel_8355/2671011271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ThermalGen['Initial Status'] = (ThermalGen['InitialDispatch(MW)'] != 0).astype(int)

In [556]:
columns_to_drop = ['If Use Generic IO Curve', 'Generic IO Curve Name','IONumBlock', 'MinInput(MMBTu)',
                   'IncHR2(MMBTu/MWh)', 'IncHR3(MMBTu/MWh)', 'IncHR4(MMBTu/MWh)', 'IncHR5(MMBTu/MWh)','IncHR6(MMBTu/MWh)',
                  'Name', 'GeneratorName', 'Fuel Name', 'Startup Cost Fixed($)', 'Startup Fuel Name', 'StartFuel(MMBTu)',
                  'Fuel Cost($/MMBTu)', 'Fuel Name_Start', 'Fuel Cost($/MMBTu)_Start']
thermalgen = ThermalGen.drop(columns=columns_to_drop)

In [557]:
thermalgen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_C.csv')

In [558]:
thermalgen

,Generator Name,IOMaxCap(MW),IOMinCap(MW),IncCap2(MW),IncCap3(MW),IncCap4(MW),IncCap5(MW),IncCap6(MW),SubType,ServiceStatus,...,RampDn Rate(MW/minute),VOM Cost,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW),Initial Status
0,Ox_Mountain7,1.9,0.57,1.330,0.000,0.00,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0,1
1,Ox_Mountain6,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
2,Ox_Mountain5,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
3,Ox_Mountain4,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
4,Ox_Mountain3,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,Coolidge 08,45.0,24.00,7.000,14.000,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,923.251597,25.607049,25.659337,0.000000,0.0,0.0,1
1421,Coolidge 04,49.0,24.00,8.333,16.667,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,898.533439,25.913804,26.133412,0.000000,0.0,0.0,1
1422,Yucca GT5,49.0,20.00,9.667,19.333,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,44.37,0.450000,2255.422246,909.527459,26.579601,29.037125,0.000000,0.0,0.0,1
1423,Coolidge 02,45.0,26.00,19.000,0.000,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,952.430596,26.677205,0.000000,0.000000,0.0,0.0,1
1424,Springerville 2,406.0,255.00,30.200,45.300,75.50,0.0,0.0,ST-Coal,#TRUE#,...,14.21,2.400000,187134.629700,3035.713074,11.228298,11.417605,11.721286,0.0,0.0,1

In [563]:
thermalgen.loc[14]

Generator Name            Brea2CC-Total
IOMaxCap(MW)                       37.2
IOMinCap(MW)                     36.828
IncCap2(MW)                       0.372
IncCap3(MW)                         0.0
IncCap4(MW)                         0.0
IncCap5(MW)                         0.0
IncCap6(MW)                         0.0
SubType                          Bio-CC
ServiceStatus                    #TRUE#
DevStatus                      Existing
Area Name                          CISC
InitialDispatch(MW)                 0.0
Zone                                  2
MustRun                               0
QuickStart                        False
MinimumDownTime(hr)                   6
MinimumUpTime(hr)                     6
RampUp Rate(MW/minute)              3.0
RampDn Rate(MW/minute)              3.0
VOM Cost                       1.149192
Start Up Cost($)            3332.263596
NoLoadCost($)                400.531356
IncCost2($/MW)                17.048594
IncCost3($/MW)                      0.0
IncCost4($/MW)                      0.0
IncCost5($/MW)                      0.0
IncCost6($/MW)                      0.0
Initial Status                        0
Name: 14, dtype: object

In [338]:
thermalgenzone = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_C.csv', usecols=['Generator Name','Zone'])

In [339]:
thermalgenmap = pd.get_dummies(thermalgenzone["Zone"], dtype=int)
thermalgenmap.to_csv('Processed Data/'+str(Year)+'/ThermalGenMap_C.csv')

### Storage Update

In [466]:
### PHS do nothing
### ES add new units
Storage = pd.read_csv('Processed Data/2022/Storage_C_4hr_5GW_Strategic.csv', index_col=0)

In [521]:
Zone = 6
subset = Storage[(Storage['Zone'] == Zone)]
subset

,Name,SubType,DevStatus,Area Name,MinCap(MW),MaxCap(MW),InitialDispatch(MW),Zone,Efficiency,Duration(h),MaxCap(MWh),Strategic
22,Horse Mesa HM4,PS-Hydro,Existing,SRP,-114.0,96.0,96.0,6.0,0.8,12.0,1152.0,0
23,Mormon Flat 2,PS-Hydro,Existing,SRP,-51.0,51.0,50.0,6.0,0.8,12.0,612.0,0
24,Coachella Battery,Battery Storage,Existing,IID,-77.5,77.5,20.0,6.0,0.9,4.0,310.0,0
71,Agua Fria Battery (Bolster) (4HR)1BA25,Battery Storage,Existing,SRP,-62.5,62.5,0.0,6.0,0.9,4.0,250.0,0
72,Dorman1BA10,Battery Storage,Existing,SRP,-25.0,25.0,0.0,6.0,0.9,4.0,100.0,0

In [522]:
subset['MaxCap(MW)'].sum()

312.0

In [523]:
GenRes[Zone-1][str(Year)]['Diurnal Storage']*1000

4.0

In [524]:
# Expand base on largest size
n = 6
Large = subset.nlargest(n, 'MaxCap(MW)')
Large

,Name,SubType,DevStatus,Area Name,MinCap(MW),MaxCap(MW),InitialDispatch(MW),Zone,Efficiency,Duration(h),MaxCap(MWh),Strategic
22,Horse Mesa HM4,PS-Hydro,Existing,SRP,-114.0,96.0,96.0,6.0,0.8,12.0,1152.0,0
24,Coachella Battery,Battery Storage,Existing,IID,-77.5,77.5,20.0,6.0,0.9,4.0,310.0,0
71,Agua Fria Battery (Bolster) (4HR)1BA25,Battery Storage,Existing,SRP,-62.5,62.5,0.0,6.0,0.9,4.0,250.0,0
23,Mormon Flat 2,PS-Hydro,Existing,SRP,-51.0,51.0,50.0,6.0,0.8,12.0,612.0,0
72,Dorman1BA10,Battery Storage,Existing,SRP,-25.0,25.0,0.0,6.0,0.9,4.0,100.0,0

In [525]:
Large['MaxCap(MW)'].sum()

312.0

In [520]:
Storage = pd.concat([Storage, Large], ignore_index=True)
Storage

,Name,SubType,DevStatus,Area Name,MinCap(MW),MaxCap(MW),InitialDispatch(MW),Zone,Efficiency,Duration(h),MaxCap(MWh),Strategic
0,LakeHodges1,PS-Hydro,Existing,CISD,-20.00,20.0,20.0,3.0,0.8,12.0,240.0,0
1,LakeHodges2,PS-Hydro,Existing,CISD,-20.00,20.0,20.0,3.0,0.8,12.0,240.0,0
2,HelmsPS3,PS-Hydro,Existing,CIPV,-404.00,404.0,369.0,1.0,0.8,12.0,4848.0,0
3,HelmsPS2,PS-Hydro,Existing,CIPV,-404.00,404.0,404.0,1.0,0.8,12.0,4848.0,0
4,HelmsPS1,PS-Hydro,Existing,CIPV,-404.00,404.0,404.0,1.0,0.8,12.0,4848.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
114,Cabin Creek B,PS-Hydro,Existing,PSCO,-162.00,162.0,162.0,5.0,0.8,12.0,1944.0,0
115,Mount Elbert 1,PS-Hydro,Existing,WACM,-102.90,102.9,90.0,5.0,0.8,12.0,1234.8,0
116,Mount Elbert 2,PS-Hydro,Existing,WACM,-102.90,102.9,90.0,5.0,0.8,12.0,1234.8,0
117,Flatiron 3,PS-Hydro,Existing,WACM,-10.16,8.5,7.0,5.0,0.8,12.0,102.0,0
118,Rawhide Prairie1BA1,Battery Storage,Existing,PSCO,-2.50,2.5,0.0,5.0,0.9,4.0,10.0,0

In [526]:
Storage.to_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic.csv')

In [527]:
storagezone = pd.read_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic.csv', usecols=['Name','Zone'])
storagemap = pd.get_dummies(storagezone["Zone"], dtype=int)
storagemap.to_csv('Processed Data/'+str(Year)+'/StorageMap_C.csv')

In [528]:
StorageDABids = pd.read_csv('Processed Data/2022/StorageDABids.csv', index_col=0)
StorageRTBids = pd.read_csv('Processed Data/2022/StorageRTBids.csv', index_col=0)
StorageDABids.to_csv('Processed Data/'+str(Year)+'/StorageDABids.csv')
StorageRTBids.to_csv('Processed Data/'+str(Year)+'/StorageRTBids.csv')

## Renewable Update

In [ ]:
### Geothermal do nothing
### BIO and ICE do nothing

### Hydro do nothing

In [340]:
HydroZone = pd.read_csv('Processed Data/2022/HydroZone_C.csv', index_col=0)
HydroZoneCAP = pd.read_csv('Processed Data/2022/HydroZoneCap_C.csv', index_col=0)
HydroZone.to_csv('Processed Data/'+str(Year)+'/HydroZone_C.csv')
HydroZoneCAP.to_csv('Processed Data/'+str(Year)+'/HydroZoneCap_C.csv')

### Solar PV scale up capacity and profile by region

In [376]:
SolarZone = pd.read_csv('Processed Data/2022/SolarZone_C.csv', index_col=0)
SolarZoneRT = pd.read_csv('Processed Data/2022/realtimesolar_all.csv', header = None)

In [422]:
Zone = 6
A = GenRes[Zone-1]['Region6']['Solar Thermal'] + GenRes[Zone-1]['Region6']['Solar Photovoltaic']
B = GenRes[Zone-1][str(Year)]['Solar Thermal'] + GenRes[Zone-1][str(Year)]['Solar Photovoltaic']
multuplier = (A+B)/A
multuplier

In [424]:
GenRes[Zone-1]

                                  Region6  2022Diff    2030    2040    2050
Coal                                2.562     1.921   0.302  -2.000  -2.000
Oil and Natural Gas Steam 3/        1.088     0.748  -0.151  -0.246  -0.246
Combined Cycle                     12.149    -0.140  -0.043  -0.132   1.320
Combustion Turbine/Diesel           4.042     0.563   1.726   6.368   9.207
Nuclear Power                       4.003    -0.066  -0.066  -1.380  -1.380
Pumped Storage                      0.147     0.084   0.084   0.084   0.084
Diurnal Storage                     0.088     0.004   0.004   2.702   3.054
Fuel Cells                            NaN     0.000   0.000   0.000   0.000
Renewable Sources                   6.763     7.044  21.767  30.717  34.626
Distributed Generation              0.000     0.000   0.480   1.986   4.731
Total Capacity                     30.841    10.158  24.102  38.100  49.395
Conventional Hydroelectric Power    0.630     5.281   5.281   5.281   5.288
Geothermal                          0.779    -0.115  -0.065   0.141   0.512
Municipal Waste                       NaN     0.019   0.138   0.311   0.452
Wood and Other Biomass                NaN     0.102   0.102   0.116   0.185
Solar Thermal                       0.250     0.046   0.046   0.046   0.046
Solar Photovoltaic                  2.805     0.101   1.846   7.772  11.094
Wind                                2.300     1.611  14.419  17.051  17.051

In [425]:
SolarZone.iloc[:, Zone-1] = SolarZone.iloc[:, Zone-1] * multuplier
SolarZoneRT.iloc[:, Zone-1] = SolarZoneRT.iloc[:, Zone-1] * multuplier

In [426]:
SolarZone.iloc[12]

0     4582.424358
1    10135.151839
2     1832.759970
3      377.880642
4     6957.976015
5     3349.432373
Name: 12, dtype: float64

In [427]:
SolarZoneRT.iloc[145]

0    3660.749615
1    9771.710687
2    1767.038172
3     375.292686
4    6973.866188
5    3329.626612
Name: 145, dtype: float64

In [544]:
SolarZone.to_csv('Processed Data/'+str(Year)+'/SolarZone_C.csv')
SolarZoneRT.to_csv('Processed Data/'+str(Year)+'/realtimesolar_all.csv', header = None, index=False)

### Wind scale up capacity and profile by region

In [546]:
WindZone = pd.read_csv('Processed Data/2022/WindZone_C.csv', index_col=0)
WindZoneRT = pd.read_csv('Processed Data/2022/realtimewind_all.csv', header = None)

In [549]:
Zone = 6
A = GenRes[Zone-1]['Region6']['Wind']
B = GenRes[Zone-1][str(Year)]['Wind'] 
multuplier = (A+B)/A
multuplier

7.26913043478261

In [550]:
GenRes[Zone-1]

                                  Region6  2022Diff    2030    2040    2050
Coal                                2.562     1.921   0.302  -2.000  -2.000
Oil and Natural Gas Steam 3/        1.088     0.748  -0.151  -0.246  -0.246
Combined Cycle                     12.149    -0.140  -0.043  -0.132   1.320
Combustion Turbine/Diesel           4.042     0.563   1.726   6.368   9.207
Nuclear Power                       4.003    -0.066  -0.066  -1.380  -1.380
Pumped Storage                      0.147     0.084   0.084   0.084   0.084
Diurnal Storage                     0.088     0.004   0.004   2.702   3.054
Fuel Cells                            NaN     0.000   0.000   0.000   0.000
Renewable Sources                   6.763     7.044  21.767  30.717  34.626
Distributed Generation              0.000     0.000   0.480   1.986   4.731
Total Capacity                     30.841    10.158  24.102  38.100  49.395
Conventional Hydroelectric Power    0.630     5.281   5.281   5.281   5.288
Geothermal                          0.779    -0.115  -0.065   0.141   0.512
Municipal Waste                       NaN     0.019   0.138   0.311   0.452
Wood and Other Biomass                NaN     0.102   0.102   0.116   0.185
Solar Thermal                       0.250     0.046   0.046   0.046   0.046
Solar Photovoltaic                  2.805     0.101   1.846   7.772  11.094
Wind                                2.300     1.611  14.419  17.051  17.051

In [461]:
WindZone.iloc[:, Zone-1] = WindZone.iloc[:, Zone-1] * multuplier
WindZoneRT.iloc[:, Zone-1] = WindZoneRT.iloc[:, Zone-1] * multuplier

In [545]:
WindZone.iloc[12]

0     204.62348
1     431.62019
2       0.00000
3      61.38716
4    2339.50906
5      48.01780
Name: 12, dtype: float64

In [463]:
WindZoneRT.iloc[145]

0     185.303213
1     289.112769
2       0.000000
3     181.883489
4    8699.257855
5     350.435086
Name: 145, dtype: float64

In [539]:
WindZone.to_csv('Processed Data/'+str(Year)+'/WindZone_C.csv')
WindZoneRT.to_csv('Processed Data/'+str(Year)+'/realtimewind_all.csv', header = None, index=False)

### Load

In [541]:
LoadRT

,0,1,2,3,4,5
0,10078.774677,11296.366141,1653.355558,18480.659945,17909.816155,11461.781628
1,10039.794677,11242.156141,1647.185558,18411.954817,17872.303563,11437.452809
2,9997.584677,11189.106141,1638.065558,18343.249690,17834.790971,11413.123990
3,9951.534677,11289.436141,1622.335558,18274.544562,17797.278379,11388.795172
4,9922.794677,11233.976141,1613.095558,18205.839435,17759.765788,11364.466353
...,...,...,...,...,...,...
105403,11954.821145,13694.525363,2201.494484,16751.573734,17729.248045,12179.721978
105404,11904.561145,13627.255363,2190.574484,16666.989800,17640.798182,12128.652747
105405,11842.991145,13517.725363,2176.664484,16590.670907,17556.900723,12083.487177
105406,11789.811145,13453.555363,2166.624484,16523.485009,17479.347542,12045.197290
105407,11743.301145,13393.485363,2158.144484,16464.630573,17409.669256,12013.567225

In [542]:
Load = pd.read_csv('Processed Data/2022/Load_C.csv')
LoadRT = pd.read_csv('Processed Data/2022/realtimeload_all.csv', header = None)
Load.to_csv('Processed Data/'+str(Year)+'/Load_C.csv', index=False)
LoadRT.to_csv('Processed Data/'+str(Year)+'/realtimeload_all.csv', header = None, index=False)