In [1]:
import pandas as pd
import numpy as np

In [2]:
Year = 2050

In [3]:
### Load Regional Expansion and Retirement Plan
base_path = 'GenResUpdate/Region{}.csv'

# Define your regions
Regions = [1,2,3,4,5,6]

# Initialize a dictionary to hold your DataFrames
GenRes = {}

# Loop over each region and read the corresponding CSV file
for region in Regions:
    # Format the file path with the current region
    file_path = base_path.format(region)
    
    # Read the CSV file and save it into the dictionary
    GenRes[region-1] = pd.read_csv(file_path, index_col=0)

### Transmission Update (no update for now)

In [4]:
Region = pd.read_csv('Processed Data/2022/Reduced_Area_Region.csv', index_col=0)
TransmissionMap = pd.read_csv('Processed Data/2022/TransmissionMap.csv', index_col=0)
TransmissionCAP = pd.read_csv('Processed Data/2022/Transmission_Cap.csv', index_col=0)

In [5]:
Region.to_csv('Processed Data/'+str(Year)+'/Reduced_Area_Region.csv')
TransmissionMap.to_csv('Processed Data/'+str(Year)+'/TransmissionMap.csv')
TransmissionCAP.to_csv('Processed Data/'+str(Year)+'/Transmission_CAP.csv')

### Coal retire by region

In [6]:
ThermalGen = pd.read_csv('Processed Data/2022/ThermalGen_Full_C.csv', index_col=0)

In [7]:
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [28]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone'] == Zone) & (ThermalGen['SubType'] == 'ST-Coal')]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
278,Coronado CO1,False,NaN,5,380.0,138.182,1857.4930,48.363,10.931,48.364,...,1.975636,Oil_DistillateFuel_2,24.566520,175150.636400,3669.730041,21.595677,22.050073,22.563739,23.247309,0.0
279,Coronado CO2,False,NaN,5,382.0,170.000,2077.7890,42.400,10.831,42.400,...,1.975636,Oil_DistillateFuel_2,24.566520,176072.478960,4104.954749,21.398114,21.842632,22.342468,23.010232,0.0
280,Springerville 1,False,NaN,4,387.0,210.000,1976.5030,35.400,8.657,53.100,...,1.314635,Oil_DistillateFuel_2,24.566520,178377.095360,2598.380021,11.380795,11.620059,12.003932,0.000000,0.0
281,Springerville 2,False,NaN,4,406.0,255.000,2309.1680,30.200,8.541,45.300,...,1.314635,Oil_DistillateFuel_2,24.566520,187134.629680,3035.713074,11.228298,11.417605,11.721286,0.000000,0.0
282,Springerville 4,False,NaN,4,415.0,264.091,2742.5820,30.182,9.309,45.272,...,1.707236,Oil_DistillateFuel_2,24.566520,191282.931200,4682.234723,15.892660,15.931926,15.995094,0.000000,0.0
283,Springerville 3,False,NaN,4,417.0,271.753,2830.3220,29.049,9.375,43.574,...,1.707236,Oil_DistillateFuel_2,24.566520,192204.773760,4832.027610,16.005337,16.044604,16.106064,0.000000,0.0
1138,Apache ST3,False,NaN,4,175.0,49.359,629.9562,25.128,10.314,37.692,...,2.060893,NG_AZ_North-South,3.485849,34558.430499,1298.272323,21.256050,22.342141,24.081535,0.000000,0.0

In [29]:
subset['IOMaxCap(MW)'].sum()

2562.0

In [30]:
GenRes[Zone-1][str(Year)]['Coal']*1000

-2000.0

In [ ]:
# Expand base on lowest emission
n = 1
LowEmission= subset.nlargest(n, 'IncCost2($/MW)')
LowEmission

In [ ]:
LowEmission['IOMaxCap(MW)'].sum()

In [ ]:
ThermalGen = pd.concat([ThermalGen, LowEmission], ignore_index=True)
ThermalGen

In [15]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [36]:
# Retire base on top emission
n = 6
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission['IOMaxCap(MW)'].sum()

2156.0

In [37]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [38]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### ST retire by region

In [39]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)

In [40]:
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [77]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='ST-NatGas')|(ThermalGen['SubType']=='ST-Other')|(ThermalGen['SubType']=='ST-WasteHeat'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
1062,Agua Fria 1,False,NaN,3,114.0,45.00000,469.6729,23.00000,8.860,46.00000,...,3.485849,NG_AZ_North-South,3.485849,11327.156582,1637.208965,30.884625,32.763498,0.000000,0.0,0.0
1063,Agua Fria 2,False,NaN,3,114.0,45.00000,474.5149,23.00000,8.951,46.00000,...,3.485849,NG_AZ_North-South,3.485849,11327.156582,1654.087448,31.201837,33.101625,0.000000,0.0,0.0
1064,Agua Fria 3,False,NaN,4,184.0,60.00000,645.1573,24.80000,9.245,37.20000,...,3.485849,NG_AZ_North-South,3.485849,18213.274130,2248.921144,32.226677,32.589205,33.164371,0.0,0.0
1078,H Wilson Sundt ST3,False,NaN,3,104.0,20.00000,255.9147,28.00000,9.356,56.00000,...,3.485849,NG_AZ_North-South,3.485849,10478.867486,892.080086,32.613606,37.078979,0.000000,0.0,0.0
1094,Apache ST2,False,NaN,4,175.0,50.00000,669.2489,25.00000,10.345,37.50000,...,3.485849,NG_AZ_North-South,3.485849,34558.430499,2332.900832,36.061111,37.392706,39.522560,0.0,0.0
1095,H Wilson Sundt 4 Gas,False,NaN,4,156.0,40.00000,472.6180,23.20000,9.023,34.80000,...,3.485849,NG_AZ_North-South,3.485849,15568.599064,1647.475140,31.452819,33.248031,36.127342,0.0,0.0
1142,Reeves 1,False,NaN,3,44.0,10.00000,167.7857,11.33300,8.550,22.66700,...,3.397497,NG_New Mexico_South,3.397497,4356.467524,570.051370,29.048597,36.543475,0.000000,0.0,0.0
1143,Reeves 2,False,NaN,3,44.0,10.00000,154.5922,11.33300,9.514,22.66700,...,3.397497,NG_New Mexico_South,3.397497,4356.467524,525.226497,32.323784,35.945516,0.000000,0.0,0.0
1144,Reeves 3,False,NaN,3,66.0,15.00000,207.2389,17.00000,9.210,34.00000,...,3.397497,NG_New Mexico_South,3.397497,4583.858653,704.093489,31.290945,36.183340,0.000000,0.0,0.0
1231,Yuma Axis1ST86.7,False,NaN,3,86.7,28.89711,1218.9020,28.89971,5.392,28.90318,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,19.563105,21.134104,0.000000,0.0,0.0

In [78]:
subset['IOMaxCap(MW)'].sum()

1087.7

In [79]:
GenRes[Zone-1][str(Year)]['Oil and Natural Gas Steam 3/']*1000

-246.0

In [63]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [81]:
# Retire base on top emission
n = 2
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission['IOMaxCap(MW)'].sum()

279.0

In [82]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [83]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### CC retire by region

In [84]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [130]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='CCWhole-NatGas-SingleShaft')|(ThermalGen['SubType']=='CCWhole-NatGas-Aero')|(ThermalGen['SubType']=='CCWhole-NatGas-Industrial')|(ThermalGen['SubType']=='CCPart-Steam'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
402,NGILAA_5_SDGDYN1CS57,False,NaN,3,57.000000,17.100,303.5250,19.950,6.822,19.950,...,5.335888,NG_Cal_PG&E BB,5.335888,12422.186250,1619.575329,36.401426,39.795051,0.000000,0.000000,0.0
507,Newman CC5a,False,NaN,2,130.000000,72.500,623.6534,57.500,7.105,0.000,...,3.316763,NG_West Texas_Waha,3.316763,10930.627228,2068.510782,23.565604,0.000000,0.000000,0.000000,0.0
508,Newman CC5b,False,NaN,2,130.000000,72.500,623.6534,57.500,7.105,0.000,...,3.316763,NG_West Texas_Waha,3.316763,10930.627228,2068.510782,23.565604,0.000000,0.000000,0.000000,0.0
615,ASU CHP,False,NaN,2,9.190001,5.000,35.6640,4.190,6.797,0.000,...,5.381985,NG_Cal_SoCalGas,5.381985,1264.086364,191.943128,36.581355,0.000000,0.000000,0.000000,0.0
616,U of AZ Cogen 1,False,NaN,2,9.000000,5.000,35.6640,4.000,6.797,0.000,...,5.381985,NG_Cal_SoCalGas,5.381985,1264.086364,191.943128,36.581355,0.000000,0.000000,0.000000,0.0
631,Yuma Cogen CC,False,NaN,2,55.600000,38.000,351.2730,17.600,7.352,0.000,...,3.576366,NG_AZ/Cal_Blythe,3.576366,4422.936018,1256.280638,26.293439,0.000000,0.000000,0.000000,0.0
639,South Point CC1a,False,NaN,5,280.000000,160.000,1167.9420,30.000,5.763,30.000,...,3.576366,NG_AZ/Cal_Blythe,3.576366,21642.480123,4176.987475,20.610594,21.894510,23.174848,30.399107,0.0
640,South Point CC1b,False,NaN,5,280.000000,160.000,1167.9420,30.000,5.763,30.000,...,3.576366,NG_AZ/Cal_Blythe,3.576366,21642.480123,4176.987475,20.610594,21.894510,23.174848,30.399107,0.0
668,El Centro CC2,False,NaN,2,108.800000,73.000,686.2000,35.800,7.212,0.000,...,4.329490,NG_Cal_Kern,4.329490,8582.217643,2970.896038,31.224282,0.000000,0.000000,0.000000,0.0
669,El Centro CC3a,False,NaN,2,73.250000,38.970,313.7090,34.280,6.447,0.000,...,4.329490,NG_Cal_Kern,4.329490,5778.009434,1358.199978,27.912222,0.000000,0.000000,0.000000,0.0
670,El Centro CC3b,False,NaN,2,73.250000,38.970,313.7090,34.280,6.447,0.000,...,4.329490,NG_Cal_Kern,4.329490,5778.009434,1358.199978,27.912222,0.000000,0.000000,0.000000,0.0
836,HarquahalaCC1-Total,False,NaN,2,365.000000,203.280,1561.0180,161.720,5.411,0.000,...,3.485849,NG_AZ_North-South,3.485849,28324.157382,5441.473555,18.861931,0.000000,0.000000,0.000000,0.0
837,HarquahalaCC2-Total,False,NaN,2,365.000000,205.999,1535.2190,159.001,5.807,0.000,...,3.485849,NG_AZ_North-South,3.485849,28324.157382,5351.542128,20.242327,0.000000,0.000000,0.000000,0.0
838,HarquahalaCC3-Total,False,NaN,2,365.000000,207.561,1555.0910,157.439,4.974,0.000,...,3.485849,NG_AZ_North-South,3.485849,28324.157382,5420.812926,17.338615,0.000000,0.000000,0.000000,0.0
844,West Phoenix 1B,False,NaN,2,92.000000,50.600,509.1670,41.400,8.085,0.000,...,3.485849,NG_AZ_North-South,3.485849,7240.904365,1774.879448,28.183092,0.000000,0.000000,0.000000,0.0
845,West Phoenix 2B,False,NaN,2,92.000000,50.600,519.4780,41.400,8.248,0.000,...,3.485849,NG_AZ_North-South,3.485849,7240.904365,1810.822040,28.751285,0.000000,0.000000,0.000000,0.0
846,West Phoenix 3B,False,NaN,2,92.000000,50.600,507.2520,41.400,8.054,0.000,...,3.485849,NG_AZ_North-South,3.485849,7240.904365,1768.204046,28.075031,0.000000,0.000000,0.000000,0.0
849,WestPhoenix CC4,False,NaN,3,118.800000,77.220,676.9780,13.846,5.884,27.734,...,3.485849,NG_AZ_North-South,3.485849,9346.970536,2359.843310,20.510737,23.079808,0.000000,0.000000,0.0
885,Kyrene 7 CC,False,NaN,5,277.000000,156.000,1164.3340,21.333,5.592,21.334,...,3.485849,NG_AZ_North-South,3.485849,20377.650395,4058.692898,19.492869,20.461936,21.431002,29.629719,0.0
886,Santan 1,False,NaN,3,94.000000,61.100,561.1220,10.956,6.164,21.944,...,3.485849,NG_AZ_North-South,3.485849,7395.750761,1955.986750,21.486775,24.177851,0.000000,0.000000,0.0
887,Santan 2,False,NaN,3,94.000000,61.100,561.1220,10.956,6.164,21.944,...,3.485849,NG_AZ_North-South,3.485849,7395.750761,1955.986750,21.486775,24.177851,0.000000,0.000000,0.0
888,Santan 3,False,NaN,3,94.000000,61.100,561.1220,10.956,6.164,21.944,...,3.485849,NG_AZ_North-South,3.485849,7395.750761,1955.986750,21.486775,24.177851,0.000000,0.000000,0.0
889,Santan 4,False,NaN,3,94.000000,61.100,561.1220,10.956,6.164,21.944,...,3.485849,NG_AZ_North-South,3.485849,7395.750761,1955.986750,21.486775,24.177851,0.000000,0.000000,0.0
890,Santan 6 CC,False,NaN,5,281.000000,154.550,1318.0000,31.610,5.747,31.610,...,3.485849,NG_AZ_North-South,3.485849,22108.575679,4594.349421,20.033176,21.643639,23.275016,24.909879,0.0
907,Apache CC,False,NaN,3,82.000000,23.768,255.7381,19.411,7.978,38.821,...,3.485849,NG_AZ_North-South,3.485849,6687.647326,891.464485,27.810106,28.489847,0.000000,0.000000,0.0
910,Arlington Valley CC1a,False,NaN,5,300.000000,150.000,1103.9010,33.333,5.573,33.334,...,3.485849,NG_AZ_North-South,3.485849,24390.247190,3848.032565,19.426638,20.730346,22.037539,32.069814,0.0
911,Arlington Valley CC1b,False,NaN,5,300.000000,150.000,1103.9010,33.333,5.573,33.334,...,3.485849,NG_AZ_North-South,3.485849,24390.247190,3848.032565,19.426638,20.730346,22.037539,32.069814,0.0
912,Desert Basin CC1a,False,NaN,5,307.500000,180.000,1295.2730,27.000,6.174,27.000,...,3.485849,NG_AZ_North-South,3.485849,23253.338265,4515.126524,21.521634,22.884601,24.244082,32.069814,0.0
913,Desert Basin CC1b,False,NaN,5,307.500000,180.000,1295.2730,27.000,6.174,27.000,...,3.485849,NG_AZ_North-South,3.485849,23253.338265,4515.126524,21.521634,22.884601,24.244082,32.069814,0.0
914,Gila River CC1a,False,NaN,5,299.000000,170.000,1262.3260,31.000,5.085,31.000,...,3.485849,NG_AZ_North-South,3.485849,23210.068133,4400.278246,17.725544,19.719450,21.709870,34.858493,0.0
915,Gila River CC1b,False,NaN,5,299.000000,170.000,1262.3260,31.000,5.085,31.000,...,3.485849,NG_AZ_North-South,3.485849,23210.068133,4400.278246,17.725544,19.719450,21.709870,34.858493,0.0
916,Gila River CC2a,False,NaN,5,300.000000,170.000,1246.0150,29.667,5.079,29.666,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4343.420557,17.704629,20.179582,22.651049,34.858493,0.0
917,Gila River CC2b,False,NaN,5,300.000000,170.000,1246.0150,29.667,5.079,29.666,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4343.420557,17.704629,20.179582,22.651049,34.858493,0.0
918,Gila River CC3a,False,NaN,5,305.000000,170.000,1252.6290,31.000,5.145,31.000,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4366.475965,17.934695,20.081978,22.229261,34.858493,0.0
919,Gila River CC3b,False,NaN,5,305.000000,170.000,1252.6290,31.000,5.145,31.000,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4366.475965,17.934695,20.081978,22.229261,34.858493,0.0
920,Gila River CC4a,False,NaN,5,305.000000,170.000,1259.4780,29.000,5.294,29.000,...,3.485849,NG_AZ_North-South,3.485849,23603.461152,4390.350547,18.454086,19.559101,20.660629,34.858493,0.0
921,Gila River CC4b,False,NaN,5,305.000000,170.000,1259.4780,29.000,5.294,29.000,...,3.485849,NG_AZ_North-South,3.485849,23603.461152,4390.350547,18.454086,19.559101,20.660629,34.858493,0.0
922,Mesquite CC1a,False,NaN,5,322.500000,162.500,1173.8150,26.667,5.479,26.666,...,3.485849,NG_AZ_North-South,3.485849,23957.515869,4091.742235,19.098968,20.984813,22.870657,29.462399,0.0
923,Mesquite CC1b,False,NaN,5,322.500000,162.500,1173.8150,26.667,5.479,26.666,...,3.485849,NG_AZ_North-South,3.485849,23957.515869,4091.742235,19.098968,20.984813,22.870657,29.462399,0.0
924,Mesquite CC2a,False,NaN,5,312.000000,160.000,1183.8000,27.167,5.579,27.166,...,3.485849,NG_AZ_North-South,3.485849,23642.799454,4126.548441,19.447553,21.131219,22.814884,29.894644,0.0
925,Mesquite CC2b,False,NaN,5,312.000000,160.000,1183.8000,27.167,5.579,27.166,...,3.485849,NG_AZ_North-South,3.485849,23642.799454,4126.548441,19.447553,21.131219,22.814884,29.894644,0.0
926,Red Hawk CC1a,False,NaN,4,272.500000,140.000,1065.2550,44.167,5.538,44.166,...,3.485849,NG_AZ_North-South,3.485849,19162.074865,3713.318432,19.304634,21.919021,24.529922,0.000000,0.0
927,Red Hawk CC1b,False,NaN,4,272.500000,140.000,1065.2550,44.167,5.538,44.166,...,3.485849,NG_AZ_North-South,3.485849,19162.074865,3713.318432,19.304634,21.919021,24.529922,0.000000,0.0
928,Red Hawk CC2a,False,NaN,2,272.500000,140.000,1061.9970,132.500,6.215,0.000,...,3.485849,NG_AZ_North-South,3.485849,19162.074865,3701.961534,21.664554,0.000000,0.000000,0.000000,0.0
929,Red Hawk CC2b,False,NaN,2,272.500000,140.000,1061.9970,132.500,6.215,0.000,...,3.485849,NG_AZ_North-South,3.485849,19162.074865,3701.961534,21.664554,0.000000,0.000000,0.000000,0.0
930,Santan CC5a,False,NaN,5,305.000000,157.500,1176.9470,23.833,5.734,23.834,...,3.485849,NG_AZ_North-South,3.485849,23190.398982,4102.659915,19.987860,20.723374,21.458888,29.068498,0.0
931,Santan CC5b,False,NaN,5,294.750000,162.115,1383.0000,33.160,5.941,33.160,...,3.485849,NG_AZ_North-South,3.485849,23190.398982,4820.929628,20.709431,22.375667,24.062818,25.753455,0.0
932,West Phoenix CC5a,False,NaN,3,114.800000,81.000,669.5515,11.267,7.578,22.533,...,3.485849,NG_AZ_North-South,3.485849,20283.236470,2333.955650,26.415766,27.580040,0.000000,0.000000,0.0
933,West Phoenix CC5b,False,NaN,4,252.500000,160.000,1253.7030,30.833,6.626,30.834,...,3.485849,NG_AZ_North-South,3.485849,20283.236470,4370.219767,23.097238,23.170441,23.243643,0.000000,0.0
938,Crosscut,False,NaN,3,30.000000,10.000,561.1220,10.000,6.164,10.000,...,3.485849,NG_AZ_North-South,3.485849,7395.750761,1955.986750,21.486775,24.177851,0.000000,0.000000,0.0
946,Afton CC,False,NaN,5,250.000000,150.000,1135.8590,23.333,4.920,23.334,...,3.397497,NG_New Mexico_South,3.397497,19546.266706,3859.077261,16.715684,21.003325,25.290966,33.974968,0.0
953,Luna CC1a,False,NaN,5,300.000000,137.500,1085.1870,34.333,5.266,34.334,...,3.397497,NG_New Mexico_South,3.397497,23439.788968,3686.919306,17.891218,20.972747,24.054277,34.032725,0.0
954,Luna CC1b,False,NaN,5,300.000000,137.500,1085.1870,34.333,5.266,34.334,...,3.397497,NG_New Mexico_South,3.397497,23439.788968,3686.919306,17.891218,20.972747,24.054277,34.032725,0.0
1024,Griffith CC1a,False,NaN,5,299.000000,132.500,989.7137,36.500,5.286,36.500,...,3.530818,NG_AZ_North,3.530818,23244.730873,3494.498947,18.663904,21.128415,23.592926,32.744806,0.0
1025,Griffith CC1b,False,NaN,5,299.000000,132.500,989.7137,36.500,5.286,36.500,...,3.530818,NG_AZ_North,3.530818,23244.730873,3494.498947,18.663904,21.128415,23.592926,32.744806,0.0

In [131]:
subset['IOMaxCap(MW)'].sum()

12148.940000999999

In [132]:
GenRes[Zone-1][str(Year)]['Combined Cycle']*1000

1320.0

In [136]:
# Expand base on lowest emission
n = 4
LowEmission= subset.nsmallest(n, 'IncCost2($/MW)')
LowEmission['IOMaxCap(MW)'].sum()

1215.0

In [137]:
ThermalGen = pd.concat([ThermalGen, LowEmission], ignore_index=True)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.570,6.908,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.000000,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Higgins CC1a,False,NaN,4,320.7,133.870,1013.333,48.680,5.515,60.850,...,3.516235,NG_Nevada_South,3.516235,25234.437543,3563.116539,19.392034,22.978593,32.349358,0.000000,0.0
1070,Afton CC,False,NaN,5,250.0,150.000,1135.859,23.333,4.920,23.334,...,3.397497,NG_New Mexico_South,3.397497,19546.266706,3859.077261,16.715684,21.003325,25.290966,33.974968,0.0
1071,HarquahalaCC3-Total,False,NaN,2,365.0,207.561,1555.091,157.439,4.974,0.000,...,3.485849,NG_AZ_North-South,3.485849,28324.157382,5420.812926,17.338615,0.000000,0.000000,0.000000,0.0
1072,Gila River CC2a,False,NaN,5,300.0,170.000,1246.015,29.667,5.079,29.666,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4343.420557,17.704629,20.179582,22.651049,34.858493,0.0
1073,Gila River CC2b,False,NaN,5,300.0,170.000,1246.015,29.667,5.079,29.666,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4343.420557,17.704629,20.179582,22.651049,34.858493,0.0

In [ ]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

In [117]:
# Retire base on top emission
n = 6
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission['IOMaxCap(MW)'].sum()

1051.2169999999999

In [118]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.908,1.33,12.120,0.00,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.689,0.38,11.819,0.57,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,Kimball6IC3.9,False,NaN,1,3.9,3.90,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1280,Ormat REG @ Peetz1OT3.7,False,NaN,1,3.7,3.70,1218.902,0.00,0.000,0.00,...,3.628172,NG_BC_Sumas,3.628172,22826.580794,4422.386513,0.000000,0.000000,0.000000,0.0,0.0
1281,Columbia Ridge Landfill Agg,False,NaN,2,12.8,4.00,47.393,8.80,7.366,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,158.690085,24.664216,0.000000,0.000000,0.0,0.0
1282,Farm Power Agg,False,NaN,1,2.0,2.00,157.560,0.00,0.000,0.00,...,3.348387,NG_Oregon_OR and WA,3.348387,130.267871,527.571790,0.000000,0.000000,0.000000,0.0,0.0
1283,Salmon Diesel Agg,False,NaN,1,5.0,5.00,157.560,0.00,0.000,0.00,...,12.200190,Oil_DistillateFuel_L,12.200190,130.976015,1922.261936,0.000000,0.000000,0.000000,0.0,0.0

In [138]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### CT add new units

In [139]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.570,6.908,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.000000,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.570,9.689,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Higgins CC1a,False,NaN,4,320.7,133.870,1013.333,48.680,5.515,60.850,...,3.516235,NG_Nevada_South,3.516235,25234.437543,3563.116539,19.392034,22.978593,32.349358,0.000000,0.0
1070,Afton CC,False,NaN,5,250.0,150.000,1135.859,23.333,4.920,23.334,...,3.397497,NG_New Mexico_South,3.397497,19546.266706,3859.077261,16.715684,21.003325,25.290966,33.974968,0.0
1071,HarquahalaCC3-Total,False,NaN,2,365.0,207.561,1555.091,157.439,4.974,0.000,...,3.485849,NG_AZ_North-South,3.485849,28324.157382,5420.812926,17.338615,0.000000,0.000000,0.000000,0.0
1072,Gila River CC2a,False,NaN,5,300.0,170.000,1246.015,29.667,5.079,29.666,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4343.420557,17.704629,20.179582,22.651049,34.858493,0.0
1073,Gila River CC2b,False,NaN,5,300.0,170.000,1246.015,29.667,5.079,29.666,...,3.485849,NG_AZ_North-South,3.485849,21636.506056,4343.420557,17.704629,20.179582,22.651049,34.858493,0.0

In [193]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='CT-NatGas-Aero')|(ThermalGen['SubType']=='CT-NatGas-Industrial')|(ThermalGen['SubType']=='CT-OilDistillate')|(ThermalGen['SubType']=='CT-Aero')|(ThermalGen['SubType']=='CT-AB-Cogen'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
209,Yucca GT4,False,NaN,2,53.0,15.9,262.0000,37.100,11.219,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,1717.978556,6436.428240,275.611788,0.000000,0.000000,0.000000,0.000000
210,Yucca GT21,False,NaN,2,22.0,11.0,193.3430,11.000,8.101,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,3107.376283,4749.764676,199.013379,0.000000,0.000000,0.000000,0.000000
211,Rockwood 1,False,NaN,2,25.0,12.5,219.8100,12.500,8.105,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,810.367300,5399.966761,199.111645,0.000000,0.000000,0.000000,0.000000
212,Rockwood 2,False,NaN,2,25.0,12.5,219.2620,12.500,8.085,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,810.367300,5386.504308,198.620314,0.000000,0.000000,0.000000,0.000000
213,Coachella 1,False,NaN,2,20.0,10.0,166.7580,10.000,7.686,0.000,...,24.566520,Oil_DistillateFuel_2,24.566520,3406.319712,4096.663742,188.818273,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,Pyramid 3,False,NaN,3,46.0,25.0,255.1335,7.000,8.297,14.000,...,3.397497,NG_New Mexico_South,3.397497,1832.087675,866.815237,28.189031,29.330589,0.000000,0.000000,0.000000
952,Pyramid 4,False,NaN,3,46.0,25.0,255.1335,7.000,8.297,14.000,...,3.397497,NG_New Mexico_South,3.397497,1832.087675,866.815237,28.189031,29.330589,0.000000,0.000000,0.000000
955,Rio Bravo,False,NaN,4,148.0,80.0,1040.7550,22.667,7.500,22.666,...,3.400868,NG_New Mexico_North,3.400868,8488.451111,3539.470202,25.506509,28.557087,31.604265,0.000000,0.000000
956,Valencia NM 1,False,NaN,4,158.0,80.0,1002.7490,26.000,6.754,26.000,...,3.400868,NG_New Mexico_North,3.400868,8667.784684,3410.216819,22.969461,25.547319,28.121776,0.000000,0.000000
957,LANL TA 3 GT1,False,NaN,6,24.0,10.8,285.0000,2.640,7.500,2.640,...,3.400868,NG_New Mexico_North,3.400868,1088.735351,969.247333,25.506509,25.635742,25.764975,25.894208,26.023441

In [194]:
subset['IOMaxCap(MW)'].sum()

4041.501

In [195]:
GenRes[Zone-1][str(Year)]['Combustion Turbine/Diesel']*1000

9207.0

In [201]:
# Expand base on lowest emission
n = 19
LowEmission= subset.nsmallest(n, 'IncCost2($/MW)')
LowEmission['IOMaxCap(MW)'].sum()

1150.2

In [199]:
9207.0-2*4041.501

1123.9979999999996

In [202]:
ThermalGen = pd.concat([ThermalGen, LowEmission], ignore_index=True)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,Coolidge 05,False,NaN,3,49.0,26.00,273.4064,7.667,7.157,15.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,953.053517,24.948224,25.652365,0.000000,0.0,0.0
1825,Coolidge 06,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1826,Coolidge 07,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1827,Coolidge 12,False,NaN,3,45.0,24.00,258.4632,7.000,7.185,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,900.963773,25.045827,25.286351,0.000000,0.0,0.0
1828,Coolidge 10,False,NaN,3,50.0,24.00,258.6641,8.667,7.204,17.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,901.664081,25.112059,26.049752,0.000000,0.0,0.0

In [203]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

### Nuclear retire by region

In [204]:
ThermalGen = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv', index_col=0)
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,Coolidge 05,False,NaN,3,49.0,26.00,273.4064,7.667,7.157,15.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,953.053517,24.948224,25.652365,0.000000,0.0,0.0
1825,Coolidge 06,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1826,Coolidge 07,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1827,Coolidge 12,False,NaN,3,45.0,24.00,258.4632,7.000,7.185,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,900.963773,25.045827,25.286351,0.000000,0.0,0.0
1828,Coolidge 10,False,NaN,3,50.0,24.00,258.6641,8.667,7.204,17.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,901.664081,25.112059,26.049752,0.000000,0.0,0.0

In [215]:
Zone = 6
# Filter the DataFrame based on 'Zone' and 'SubType' being 'ST-Coal'
subset = ThermalGen[(ThermalGen['Zone']==Zone)&((ThermalGen['SubType']=='ST-Nuclear'))]
subset

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
498,Palo Verde 1,False,NaN,1,1333.0,1333.0,14389.10,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170531.1,10612.772795,0.0,0.0,0.0,0.0,0.0
499,Palo Verde 2,False,NaN,1,1336.0,1336.0,14237.06,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170902.9,10500.634720,0.0,0.0,0.0,0.0,0.0
500,Palo Verde 3,False,NaN,1,1334.0,1334.0,14134.51,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170655.0,10424.998311,0.0,0.0,0.0,0.0,0.0

In [216]:
subset['IOMaxCap(MW)'].sum()

4003.0

In [217]:
GenRes[Zone-1][str(Year)]['Nuclear Power']*1000

-1380.0

In [208]:
### Retire ALL!
ThermalGen = ThermalGen[~ThermalGen.index.isin(subset.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,Coolidge 05,False,NaN,3,49.0,26.00,273.4064,7.667,7.157,15.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,953.053517,24.948224,25.652365,0.000000,0.0,0.0
1825,Coolidge 06,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1826,Coolidge 07,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1827,Coolidge 12,False,NaN,3,45.0,24.00,258.4632,7.000,7.185,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,900.963773,25.045827,25.286351,0.000000,0.0,0.0
1828,Coolidge 10,False,NaN,3,50.0,24.00,258.6641,8.667,7.204,17.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,901.664081,25.112059,26.049752,0.000000,0.0,0.0

In [218]:
# Retire base on top emission
n = 1
TopEmission= subset.nlargest(n, 'IncCost2($/MW)')
TopEmission['IOMaxCap(MW)'].sum()

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
498,Palo Verde 1,False,NaN,1,1333.0,1333.0,14389.1,0.0,0.0,0.0,...,0.737556,Uranium,0.737556,170531.1,10612.772795,0.0,0.0,0.0,0.0,0.0

In [220]:
ThermalGen = ThermalGen[~ThermalGen.index.isin(TopEmission.index)]
ThermalGen

,Generator Name,If Use Generic IO Curve,Generic IO Curve Name,IONumBlock,IOMaxCap(MW),IOMinCap(MW),MinInput(MMBTu),IncCap2(MW),IncHR2(MMBTu/MWh),IncCap3(MW),...,Fuel Cost($/MMBTu),Fuel Name_Start,Fuel Cost($/MMBTu)_Start,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW)
0,Ox_Mountain7,False,NaN,2,1.9,0.57,6.9080,1.330,12.120,0.000,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0
1,Ox_Mountain6,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
2,Ox_Mountain5,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
3,Ox_Mountain4,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
4,Ox_Mountain3,False,NaN,4,1.9,0.57,9.6890,0.380,11.819,0.570,...,2.378763,Bio_Landfill_Gas,2.378763,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,Coolidge 05,False,NaN,3,49.0,26.00,273.4064,7.667,7.157,15.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,953.053517,24.948224,25.652365,0.000000,0.0,0.0
1825,Coolidge 06,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1826,Coolidge 07,False,NaN,3,49.0,24.00,257.5000,8.333,7.169,16.667,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0
1827,Coolidge 12,False,NaN,3,45.0,24.00,258.4632,7.000,7.185,14.000,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,900.963773,25.045827,25.286351,0.000000,0.0,0.0
1828,Coolidge 10,False,NaN,3,50.0,24.00,258.6641,8.667,7.204,17.333,...,3.485849,NG_AZ_North-South,3.485849,2141.050002,901.664081,25.112059,26.049752,0.000000,0.0,0.0

In [221]:
### save temporally
ThermalGen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_Full_C.csv')

In [ ]:
### Thermal Gen map

In [222]:
mask = ThermalGen['InitialDispatch(MW)'] != 0
ThermalGen.loc[mask, 'InitialDispatch(MW)'] = ThermalGen.loc[mask, 'InitialDispatch(MW)'].clip(lower=ThermalGen.loc[mask, 'IOMinCap(MW)'], upper=ThermalGen.loc[mask, 'IOMaxCap(MW)'])

In [223]:
ThermalGen['Initial Status'] = (ThermalGen['InitialDispatch(MW)'] != 0).astype(int)

/var/folders/f2/rxpbf6rd2wjbpqry4k3rs6fr0000gn/T/ipykernel_75869/2671011271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ThermalGen['Initial Status'] = (ThermalGen['InitialDispatch(MW)'] != 0).astype(int)

In [224]:
columns_to_drop = ['If Use Generic IO Curve', 'Generic IO Curve Name','IONumBlock', 'MinInput(MMBTu)',
                   'IncHR2(MMBTu/MWh)', 'IncHR3(MMBTu/MWh)', 'IncHR4(MMBTu/MWh)', 'IncHR5(MMBTu/MWh)','IncHR6(MMBTu/MWh)',
                  'Name', 'GeneratorName', 'Fuel Name', 'Startup Cost Fixed($)', 'Startup Fuel Name', 'StartFuel(MMBTu)',
                  'Fuel Cost($/MMBTu)', 'Fuel Name_Start', 'Fuel Cost($/MMBTu)_Start']
thermalgen = ThermalGen.drop(columns=columns_to_drop)

In [225]:
thermalgen.to_csv('Processed Data/'+str(Year)+'/ThermalGen_C.csv')

In [226]:
thermalgen

,Generator Name,IOMaxCap(MW),IOMinCap(MW),IncCap2(MW),IncCap3(MW),IncCap4(MW),IncCap5(MW),IncCap6(MW),SubType,ServiceStatus,...,RampDn Rate(MW/minute),VOM Cost,Start Up Cost($),NoLoadCost($),IncCost2($/MW),IncCost3($/MW),IncCost4($/MW),IncCost5($/MW),IncCost6($/MW),Initial Status
0,Ox_Mountain7,1.9,0.57,1.330,0.000,0.00,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,16.432495,28.830608,0.000000,0.000000,0.0,0.0,1
1,Ox_Mountain6,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
2,Ox_Mountain5,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
3,Ox_Mountain4,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
4,Ox_Mountain3,1.9,0.57,0.380,0.570,0.38,0.0,0.0,Bio-ICE,#TRUE#,...,4.00,2.027986,11.155225,23.047835,28.114600,29.548994,32.862611,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,Coolidge 05,49.0,26.00,7.667,15.333,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,953.053517,24.948224,25.652365,0.000000,0.0,0.0,1
1825,Coolidge 06,49.0,24.00,8.333,16.667,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0,1
1826,Coolidge 07,49.0,24.00,8.333,16.667,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,897.606203,24.990054,25.885917,0.000000,0.0,0.0,1
1827,Coolidge 12,45.0,24.00,7.000,14.000,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,900.963773,25.045827,25.286351,0.000000,0.0,0.0,1
1828,Coolidge 10,50.0,24.00,8.667,17.333,0.00,0.0,0.0,CT-NatGas-Aero,#TRUE#,...,42.12,0.450000,2141.050002,901.664081,25.112059,26.049752,0.000000,0.0,0.0,1

In [227]:
thermalgenzone = pd.read_csv('Processed Data/'+str(Year)+'/ThermalGen_C.csv', usecols=['Generator Name','Zone'])

In [228]:
thermalgenmap = pd.get_dummies(thermalgenzone["Zone"], dtype=int)
thermalgenmap.to_csv('Processed Data/'+str(Year)+'/ThermalGenMap_C.csv')

### Storage Update

In [229]:
### PHS do nothing
### ES add new units
Storage = pd.read_csv('Processed Data/2022/Storage_C_4hr_5GW_Strategic.csv', index_col=0)

In [250]:
Zone = 6
subset = Storage[((Storage['Zone'] == Zone)&(Storage['SubType']=='Battery Storage'))]
subset

,Name,SubType,DevStatus,Area Name,MinCap(MW),MaxCap(MW),InitialDispatch(MW),Zone,Efficiency,Duration(h),MaxCap(MWh),Strategic
24,Coachella Battery,Battery Storage,Existing,IID,-77.5,77.5,20.0,6.0,0.9,4.0,310.0,0
71,Agua Fria Battery (Bolster) (4HR)1BA25,Battery Storage,Existing,SRP,-62.5,62.5,0.0,6.0,0.9,4.0,250.0,0
72,Dorman1BA10,Battery Storage,Existing,SRP,-25.0,25.0,0.0,6.0,0.9,4.0,100.0,0

In [251]:
AddCap = GenRes[Zone-1][str(Year)]['Diurnal Storage']*1000
AddCap

3054.0

In [252]:
new_row = {
    'Name': f"New-BESS-{Zone}",
    'SubType': "Battery Storage",
    'DevStatus': "Existing",
    'Area Name': "NA",
    'MinCap(MW)': -AddCap,
    'MaxCap(MW)': AddCap,
    'InitialDispatch(MW)': 0,
    'Zone': Zone,
    'Efficiency': 0.9,
    'Duration(h)': 4,
    'MaxCap(MWh)': 4 * AddCap,
    'Strategic': 0
}

In [253]:
# Convert the dictionary to a DataFrame
new_row_df = pd.DataFrame([new_row])

# Concatenate the new DataFrame with the original DataFrame
Storage = pd.concat([Storage, new_row_df], ignore_index=True)
Storage

,Name,SubType,DevStatus,Area Name,MinCap(MW),MaxCap(MW),InitialDispatch(MW),Zone,Efficiency,Duration(h),MaxCap(MWh),Strategic
0,LakeHodges1,PS-Hydro,Existing,CISD,-20.0,20.0,20.0,3.0,0.8,12.0,240.0,0
1,LakeHodges2,PS-Hydro,Existing,CISD,-20.0,20.0,20.0,3.0,0.8,12.0,240.0,0
2,HelmsPS3,PS-Hydro,Existing,CIPV,-404.0,404.0,369.0,1.0,0.8,12.0,4848.0,0
3,HelmsPS2,PS-Hydro,Existing,CIPV,-404.0,404.0,404.0,1.0,0.8,12.0,4848.0,0
4,HelmsPS1,PS-Hydro,Existing,CIPV,-404.0,404.0,404.0,1.0,0.8,12.0,4848.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80,New-BESS-2,Battery Storage,Existing,NA,-8585.0,8585.0,0.0,2.0,0.9,4.0,34340.0,0
81,New-BESS-3,Battery Storage,Existing,NA,-2559.0,2559.0,0.0,3.0,0.9,4.0,10236.0,0
82,New-BESS-4,Battery Storage,Existing,NA,-131.0,131.0,0.0,4.0,0.9,4.0,524.0,0
83,New-BESS-5,Battery Storage,Existing,NA,-8785.0,8785.0,0.0,5.0,0.9,4.0,35140.0,0
84,New-BESS-6,Battery Storage,Existing,NA,-3054.0,3054.0,0.0,6.0,0.9,4.0,12216.0,0

In [254]:
Storage.to_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic.csv')

In [255]:
storagezone = pd.read_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic.csv', usecols=['Name','Zone'])
storagemap = pd.get_dummies(storagezone["Zone"], dtype=int)
storagemap.to_csv('Processed Data/'+str(Year)+'/StorageMap_C.csv')

In [256]:
StorageDABids = pd.read_csv('Processed Data/2022/StorageDABids.csv', index_col=0)
StorageRTBids = pd.read_csv('Processed Data/2022/StorageRTBids.csv', index_col=0)
StorageDABids.to_csv('Processed Data/'+str(Year)+'/StorageDABids.csv')
StorageRTBids.to_csv('Processed Data/'+str(Year)+'/StorageRTBids.csv')

In [257]:
Storage = pd.read_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic.csv', index_col=0)
df = Storage

In [258]:
# Filter battery storages
battery_storages = df[df['SubType'] == 'Battery Storage']

# Aggregate by 'Zone'
aggregated = battery_storages.groupby('Zone').agg({
    'Name': lambda x: f"Agg_Region_{x.name}",
    'SubType': 'first',  # All are 'Battery Storage'
    'DevStatus': 'first',
    'Area Name': 'first',
    'MinCap(MW)': 'sum',
    'MaxCap(MW)': 'sum',
    'InitialDispatch(MW)': 'sum',
    'Efficiency': 'first',
    'Duration(h)': 'first',
    'MaxCap(MWh)': 'sum',
    'Strategic': 'first'
}).reset_index()

# Ensure 'Zone' is a column
aggregated['Zone'] = aggregated['Zone'].astype(int)  # Cast to int if needed

# Remove original battery storage rows
df = df[df['SubType'] != 'Battery Storage']

# Append aggregated rows
df = pd.concat([df, aggregated], ignore_index=True)

df

,Name,SubType,DevStatus,Area Name,MinCap(MW),MaxCap(MW),InitialDispatch(MW),Zone,Efficiency,Duration(h),MaxCap(MWh),Strategic
0,LakeHodges1,PS-Hydro,Existing,CISD,-20.000,20.000,20.0000,3.0,0.8,12.0,240.000,0
1,LakeHodges2,PS-Hydro,Existing,CISD,-20.000,20.000,20.0000,3.0,0.8,12.0,240.000,0
2,HelmsPS3,PS-Hydro,Existing,CIPV,-404.000,404.000,369.0000,1.0,0.8,12.0,4848.000,0
3,HelmsPS2,PS-Hydro,Existing,CIPV,-404.000,404.000,404.0000,1.0,0.8,12.0,4848.000,0
4,HelmsPS1,PS-Hydro,Existing,CIPV,-404.000,404.000,404.0000,1.0,0.8,12.0,4848.000,0
5,ONeill_1,PS-Hydro,Existing,CIPV,-3.430,3.430,11.0000,1.0,0.8,12.0,41.160,0
6,W_R_Gianelli_1,PS-Hydro,Existing,CIPV,-48.000,53.000,40.8000,1.0,0.8,12.0,636.000,0
7,W_R_Gianelli_2,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
8,W_R_Gianelli_3,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
9,W_R_Gianelli_4,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
10,W_R_Gianelli_5,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
11,W_R_Gianelli_6,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
12,W_R_Gianelli_7,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
13,W_R_Gianelli_8,PS-Hydro,Existing,CIPV,-48.000,53.000,0.0000,1.0,0.8,12.0,636.000,0
14,GrandCouleePG12,PS-Hydro,Existing,BPAT,-52.200,46.000,-52.0000,4.0,0.8,12.0,552.000,0
15,GrandCouleePG11,PS-Hydro,Existing,BPAT,-52.200,45.000,-52.0000,4.0,0.8,12.0,540.000,0
16,GrandCouleePG10,PS-Hydro,Existing,BPAT,-52.200,45.000,-52.0000,4.0,0.8,12.0,540.000,0
17,DiamondValleyLake-Total,PS-HydroRPS,Existing,CISC,-4.500,1.000,0.0000,2.0,0.8,12.0,12.000,0
18,JSEastwoodPS,PS-Hydro,Existing,CISC,-207.000,207.000,200.0000,2.0,0.8,12.0,2484.000,0
19,GrandCouleePG09,PS-Hydro,Existing,BPAT,-52.200,44.000,-52.0000,4.0,0.8,12.0,528.000,0
20,GrandCouleePG08,PS-Hydro,Existing,BPAT,-51.300,46.000,-51.0000,4.0,0.8,12.0,552.000,0
21,GrandCouleePG07,PS-Hydro,Existing,BPAT,-51.300,47.000,0.0000,4.0,0.8,12.0,564.000,0
22,Horse Mesa HM4,PS-Hydro,Existing,SRP,-114.000,96.000,96.0000,6.0,0.8,12.0,1152.000,0
23,Mormon Flat 2,PS-Hydro,Existing,SRP,-51.000,51.000,50.0000,6.0,0.8,12.0,612.000,0
24,Castaic 1,PS-Hydro,Existing,LDWP,-242.000,270.000,244.5524,2.0,0.8,12.0,3240.000,0
25,Castaic 2,PS-Hydro,Existing,LDWP,-242.000,270.000,200.0000,2.0,0.8,12.0,3240.000,0
26,Castaic 3,PS-Hydro,Existing,LDWP,-242.000,270.000,220.0000,2.0,0.8,12.0,3240.000,0
27,Castaic 4,PS-Hydro,Existing,LDWP,-242.000,270.000,0.0000,2.0,0.8,12.0,3240.000,0
28,Castaic 5,PS-Hydro,Existing,LDWP,-242.000,270.000,0.0000,2.0,0.8,12.0,3240.000,0
29,Castaic 6,PS-Hydro,Existing,LDWP,-242.000,270.000,0.0000,2.0,0.8,12.0,3240.000,0
30,Cabin Creek A,PS-Hydro,Existing,PSCO,-162.000,162.000,162.0000,5.0,0.8,12.0,1944.000,0
31,Cabin Creek B,PS-Hydro,Existing,PSCO,-162.000,162.000,162.0000,5.0,0.8,12.0,1944.000,0
32,Mount Elbert 1,PS-Hydro,Existing,WACM,-102.900,102.900,90.0000,5.0,0.8,12.0,1234.800,0
33,Flatiron 3,PS-Hydro,Existing,WACM,-10.160,8.500,7.0000,5.0,0.8,12.0,102.000,0
34,Mount Elbert 2,PS-Hydro,Existing,WACM,-102.900,102.900,90.0000,5.0,0.8,12.0,1234.800,0
35,Agg_Region_Name,Battery Storage,Existing,CIPV,-10295.619,10295.619,0.0000,1.0,0.9,4.0,41182.476,0
36,Agg_Region_Name,Battery Storage,Existing,CISC,-12250.525,12250.525,0.0000,2.0,0.9,4.0,49002.100,0
37,Agg_Region_Name,Battery Storage,Existing,CISD,-3574.250,3574.250,0.0000,3.0,0.9,4.0,14297.000,0
38,Agg_Region_Name,Battery Storage,Existing,BPAT,-159.500,159.500,0.0000,4.0,0.9,4.0,638.000,0
39,Agg_Region_Name,Battery Storage,Existing,PSCO,-8787.500,8787.500,0.0000,5.0,0.9,4.0,35150.000,0
40,Agg_Region_Name,Battery Storage,Existing,IID,-3219.000,3219.000,20.0000,6.0,0.9,4.0,12876.000,0

In [ ]:
aggregated

In [259]:
df.to_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic_Agg.csv')

In [260]:
storagezone = pd.read_csv('Processed Data/'+str(Year)+'/Storage_C_4hr_5GW_Strategic_Agg.csv', usecols=['Name','Zone'])
storagemap = pd.get_dummies(storagezone["Zone"], dtype=int)
storagemap.to_csv('Processed Data/'+str(Year)+'/StorageMap_C_Agg.csv')

## Renewable Update

In [ ]:
### Geothermal do nothing
### BIO and ICE do nothing

### Hydro do nothing

In [261]:
HydroZone = pd.read_csv('Processed Data/2022/HydroZone_C.csv', index_col=0)
HydroZoneCAP = pd.read_csv('Processed Data/2022/HydroZoneCap_C.csv', index_col=0)
HydroZone.to_csv('Processed Data/'+str(Year)+'/HydroZone_C.csv')
HydroZoneCAP.to_csv('Processed Data/'+str(Year)+'/HydroZoneCap_C.csv')

### Solar PV scale up capacity and profile by region

In [262]:
SolarZone = pd.read_csv('Processed Data/2022/SolarZone_C.csv', index_col=0)
SolarZoneRT = pd.read_csv('Processed Data/2022/realtimesolar_all.csv', header = None)

In [288]:
Zone = 6
A = GenRes[Zone-1]['Region6']['Solar Thermal'] + GenRes[Zone-1]['Region6']['Solar Photovoltaic']
B = GenRes[Zone-1][str(Year)]['Solar Thermal'] + GenRes[Zone-1][str(Year)]['Solar Photovoltaic']
multuplier = (A+B)/A
multuplier

4.646481178396071

In [289]:
GenRes[Zone-1]

                                  Region6  2022Diff    2030    2040    2050
Coal                                2.562     1.921   0.302  -2.000  -2.000
Oil and Natural Gas Steam 3/        1.088     0.748  -0.151  -0.246  -0.246
Combined Cycle                     12.149    -0.140  -0.043  -0.132   1.320
Combustion Turbine/Diesel           4.042     0.563   1.726   6.368   9.207
Nuclear Power                       4.003    -0.066  -0.066  -1.380  -1.380
Pumped Storage                      0.147     0.084   0.084   0.084   0.084
Diurnal Storage                     0.088     0.004   0.004   2.702   3.054
Fuel Cells                            NaN     0.000   0.000   0.000   0.000
Renewable Sources                   6.763     7.044  21.767  30.717  34.626
Distributed Generation              0.000     0.000   0.480   1.986   4.731
Total Capacity                     30.841    10.158  24.102  38.100  49.395
Conventional Hydroelectric Power    0.630     5.281   5.281   5.281   5.288
Geothermal                          0.779    -0.115  -0.065   0.141   0.512
Municipal Waste                       NaN     0.019   0.138   0.311   0.452
Wood and Other Biomass                NaN     0.102   0.102   0.116   0.185
Solar Thermal                       0.250     0.046   0.046   0.046   0.046
Solar Photovoltaic                  2.805     0.101   1.846   7.772  11.094
Wind                                2.300     1.611  14.419  17.051  17.051

In [290]:
SolarZone.iloc[:, Zone-1] = SolarZone.iloc[:, Zone-1] * multuplier
SolarZoneRT.iloc[:, Zone-1] = SolarZoneRT.iloc[:, Zone-1] * multuplier

In [291]:
SolarZone.iloc[12]

0    27985.103325
1    30189.875475
2     5680.562925
3     1322.309606
4    17166.084553
5     9610.914196
Name: 12, dtype: float64

In [292]:
SolarZoneRT.iloc[145]

0    22356.387845
1    29107.282605
2     5476.860961
3     1313.253625
4    17205.287340
5     9554.083233
Name: 145, dtype: float64

In [293]:
SolarZone.to_csv('Processed Data/'+str(Year)+'/SolarZone_C.csv')
SolarZoneRT.to_csv('Processed Data/'+str(Year)+'/realtimesolar_all.csv', header = None, index=False)

### Wind scale up capacity and profile by region

In [294]:
WindZone = pd.read_csv('Processed Data/2022/WindZone_C.csv', index_col=0)
WindZoneRT = pd.read_csv('Processed Data/2022/realtimewind_all.csv', header = None)

In [321]:
Zone = 6
A = GenRes[Zone-1]['Region6']['Wind']
B = GenRes[Zone-1][str(Year)]['Wind'] 
multuplier = (A+B)/A
multuplier

8.413478260869566

In [322]:
GenRes[Zone-1]

                                  Region6  2022Diff    2030    2040    2050
Coal                                2.562     1.921   0.302  -2.000  -2.000
Oil and Natural Gas Steam 3/        1.088     0.748  -0.151  -0.246  -0.246
Combined Cycle                     12.149    -0.140  -0.043  -0.132   1.320
Combustion Turbine/Diesel           4.042     0.563   1.726   6.368   9.207
Nuclear Power                       4.003    -0.066  -0.066  -1.380  -1.380
Pumped Storage                      0.147     0.084   0.084   0.084   0.084
Diurnal Storage                     0.088     0.004   0.004   2.702   3.054
Fuel Cells                            NaN     0.000   0.000   0.000   0.000
Renewable Sources                   6.763     7.044  21.767  30.717  34.626
Distributed Generation              0.000     0.000   0.480   1.986   4.731
Total Capacity                     30.841    10.158  24.102  38.100  49.395
Conventional Hydroelectric Power    0.630     5.281   5.281   5.281   5.288
Geothermal                          0.779    -0.115  -0.065   0.141   0.512
Municipal Waste                       NaN     0.019   0.138   0.311   0.452
Wood and Other Biomass                NaN     0.102   0.102   0.116   0.185
Solar Thermal                       0.250     0.046   0.046   0.046   0.046
Solar Photovoltaic                  2.805     0.101   1.846   7.772  11.094
Wind                                2.300     1.611  14.419  17.051  17.051

In [323]:
WindZone.iloc[:, Zone-1] = WindZone.iloc[:, Zone-1] * multuplier
WindZoneRT.iloc[:, Zone-1] = WindZoneRT.iloc[:, Zone-1] * multuplier

In [324]:
WindZone.iloc[12]

0     210.695736
1     541.945949
2       0.000000
3     189.116624
4    8984.201645
5     403.996716
Name: 12, dtype: float64

In [325]:
WindZoneRT.iloc[145]

0     183.336551
1     370.312957
2       0.000000
3     209.809987
4    8911.981760
5     405.602569
Name: 145, dtype: float64

In [326]:
WindZone.to_csv('Processed Data/'+str(Year)+'/WindZone_C.csv')
WindZoneRT.to_csv('Processed Data/'+str(Year)+'/realtimewind_all.csv', header = None, index=False)

### Load

In [327]:
Load = pd.read_csv('Processed Data/2022/Load_C.csv')
LoadRT = pd.read_csv('Processed Data/2022/realtimeload_all.csv', header = None)
Load.to_csv('Processed Data/'+str(Year)+'/Load_C.csv', index=False)
LoadRT.to_csv('Processed Data/'+str(Year)+'/realtimeload_all.csv', header = None, index=False)